<%= form_for(@cash_entry) do |f| %>
  <% if @cash_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cash_entry.errors.count, "error") %> prohibited this cash_entry from being saved:</h2>

      <ul>
      <% @cash_entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :document_number %><br />
    <%= f.text_field :document_number %>
  </div>
  <div class="field">
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
