<h1>Listing cash_entries</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Date</th>
    <th>Name</th>
    <th>Document number</th>
    <th>Amount</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cash_entries.each do |cash_entry| %>
  <tr>
    <td><%= cash_entry.id %></td>
    <td><%= cash_entry.date %></td>
    <td><%= cash_entry.name %></td>
    <td><%= cash_entry.document_number %></td>
    <td><%= cash_entry.amount %></td>
    <td><%= link_to 'Show', cash_entry %></td>
    <td><%= link_to 'Edit', edit_cash_entry_path(cash_entry) %></td>
    <td><%= link_to 'Destroy', cash_entry, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cash entry', new_cash_entry_path %>
