<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @cash_entry.date %>
</p>

<p>
  <b>Name:</b>
  <%= @cash_entry.name %>
</p>

<p>
  <b>Document number:</b>
  <%= @cash_entry.document_number %>
</p>

<p>
  <b>Comment:</b>
  <%= @cash_entry.comment %>
</p>


<%= link_to 'Edit', edit_cash_entry_path(@cash_entry) %> |
<%= link_to 'Back', cash_entries_path %>
