<%= form_for(@inventory_source) do |f| %>
  <% if @inventory_source.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inventory_source.errors.count, "error") %> prohibited this inventory_source from being saved:</h2>

      <ul>
      <% @inventory_source.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nazwa %>
    <%= f.text_field :name %>
  </div>
  <br/>
  <div class="field">
    <%= f.label :aktywne %>
    <%= f.check_box :is_active %>
  </div>
  <br/>
  <div class="actions">
    <%= f.submit :Zapisz %>
  </div>
<% end %>
