<h1>Źródła książki inwentarzowej</h1>

<table>
  <tr>
    <th>Nazwa</th>
    <th>Aktywne</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @inventory_sources.each do |inventory_source| %>
  <tr>
    <td><%= inventory_source.name %></td>
    <td><%= inventory_source.is_active %></td>
    <td><%= link_to 'Pokaż', inventory_source %></td>
    <td><%= link_to 'Edytuj', edit_inventory_source_path(inventory_source) %></td>
    <td><%= link_to 'Usuń', inventory_source, method: :delete, data: { confirm: 'Czy na pewno?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nowe źródło', new_inventory_source_path %>
