<h1>Listing inventory_sources</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Is active</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @inventory_sources.each do |inventory_source| %>
  <tr>
    <td><%= inventory_source.name %></td>
    <td><%= inventory_source.is_active %></td>
    <td><%= link_to 'Show', inventory_source %></td>
    <td><%= link_to 'Edit', edit_inventory_source_path(inventory_source) %></td>
    <td><%= link_to 'Destroy', inventory_source, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Inventory source', new_inventory_source_path %>
