<p id="notice"><%= notice %></p>

<p>
  <b>Nazwa:</b>
  <%= @inventory_source.name %>
</p>

<p>
  <b>Aktywne:</b>
  <%= @inventory_source.is_active %>
</p>


<%= link_to 'Edytuj', edit_inventory_source_path(@inventory_source) %> |
<%= link_to 'Powrót', inventory_sources_path %>
