<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @inventory_source.name %>
</p>

<p>
  <b>Is active:</b>
  <%= @inventory_source.is_active %>
</p>


<%= link_to 'Edit', edit_inventory_source_path(@inventory_source) %> |
<%= link_to 'Back', inventory_sources_path %>
