<h2>Prześlij ponownie instrukcje potwierdzenia rejestracji</h2>

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.submit "Prześlij ponownie instrukcje" %></div>
<% end %>

<%= render "links" %>
