<div class="row top-buffer-40">
  <div class="col-md-6">
    <small>
      <% if can? :manage_unit_entries, @unit %>
        <%= link_to new_inventory_entry_path(:is_expense => false), class: 'btn btn-sm btn-success' do %>
          <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Nowy przychód
        <% end %>
      <% end %>
      <% if can? :manage_unit_entries, @unit %>
        <%= link_to new_inventory_entry_path(:is_expense => true), class: 'btn btn-sm btn-success' do %>
          <span class="glyphicon glyphicon-minus"></span>&nbsp;&nbsp;Nowy rozchód
        <% end %>
      <% end %>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class='glyphicon glyphicon-print'></span>&nbsp;&nbsp;Drukuj
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><%= link_to "Drukuj wyświetlony rok #{@current_year}".html_safe, @pdf_inventory_link %></li>
          <li><%= link_to "Drukuj wszystkie lata".html_safe, @pdf_all_inventory_link %></li>
        </ul>
      </div>

      <div class="btn-group" role="group">
        <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class='glyphicon glyphicon-list'></span>&nbsp;&nbsp;CSV
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><%= link_to "CSV wyświetlony rok".html_safe, @csv_inventory_link %></li>
          <li><%= link_to "CSV wszystkie lata".html_safe, @csv_all_inventory_link %></li>
        </ul>
      </div>
    </small>
  </div>
  <div class="col-md-6">
    <%= render "shared/inventory_entries_select" %>
  </div>
</div>

<div class="row top-buffer-40">
  <div class="col-md-8">
    <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
  </div>
</div>

<table class="table table-condensed top-buffer-20 text-center">
  <tr>
    <th rowspan="2" class="valign_middle text-center">#</th>
    <th rowspan="2" class="valign_middle text-center">Data</th>
    <th rowspan="2" class="valign_middle text-center">Numer inwentarzowy</th>
    <th rowspan="2" class="valign_middle text-center">Nazwa</th>
    <th rowspan="2" class="valign_middle text-center">Numer dokumentu</th>
    <th rowspan="2" class="valign_middle text-center">Źródło</th>
    <th colspan="2" class="text-center">Ilość</th>
    <th rowspan="2" class="valign_middle text-center">Cena<br/>jednostkowa</th>
    <th rowspan="2" class="valign_middle text-center">Wartość</th>
    <th rowspan="2" class="valign_middle text-center">Opis</th>
    <th rowspan="2"></th>
    <th rowspan="2"></th>
  </tr>

  <tr>
    <th>Przychód</th>
    <th>Rozchód</th>
  </tr>

  <% position = @start_position %>
  <% @inventory_entries.each do |inventory_entry| %>
  <tr>
    <td><%= position += 1 %>.</td>
    <td><%= inventory_entry.date %></td>
    <td><%= inventory_entry.stock_number %></td>
    <td><%= inventory_entry.name %></td>
    <td><%= inventory_entry.document_number %></td>
    <td><%= inventory_entry.inventory_source.name %></td>
    <td><%= inventory_entry.is_expense ? '-' : inventory_entry.amount %></td>
    <td><%= inventory_entry.is_expense ? inventory_entry.amount : '-' %></td>
    <td><%= number_with_precision(inventory_entry.unit_price, :precision => 2) %></td>
    <td><%= number_with_precision(inventory_entry.signed_total_value, :precision => 2)  %></td>
    <td><%= inventory_entry.remark %></td>
    <td><%= link_to 'Edytuj', edit_inventory_entry_path(inventory_entry) %></td>
    <td><%= link_to 'Usuń', inventory_entry, data: { confirm: 'Na pewno usunąć wpis?'}, method: :delete %></td>
  </tr>
  <% end %>

  <tr>
    <td class="text-right" colspan="9"><b>Razem: </b></td>
    <td><b><%= number_with_precision(@sum_total_value, :precision => 2) %></b></td>
    <td colspan="3"></td>
  </tr>

</table>
