<h1>Książka inwentarzowa</h1>

<table>
  <tr>
    <th>Data</th>
    <th>Nazwa</th>
    <th>Numer dokumentu</th>
    <th>Wartość</th>
    <th>Cena jednostkowa</th>
    <th>Źródło</th>
    <th>Numer inwentarzowy</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @inventory_entries.each do |inventory_entry| %>
  <tr>
    <td><%= inventory_entry.date %></td>
    <td><%= inventory_entry.name %></td>
    <td><%= inventory_entry.document_number %></td>
    <td><%= inventory_entry.amount %></td>
    <td><%= inventory_entry.unit_price %></td>
    <td><%= inventory_entry.source %></td>
    <td><%= inventory_entry.stock_number %></td>
    <td><%= link_to 'Edytuj', edit_inventory_entry_path(inventory_entry) %></td>
    <td><%= link_to 'Usuń', inventory_entry, confirm: 'Na pewno usunąć wpis?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nowy wpis', new_inventory_entry_path %>
