<!doctype html>
<html>
<head>
  <meta charset='utf-8'/>
  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" %>
  <style type="text/css">
    div   { font-size: 10px }
    table { page-break-inside:auto }
    tr    { page-break-inside:avoid; page-break-after:auto }
    thead { display:table-header-group }
    tfoot { display:table-footer-group }
  </style>
</head>
<body>

<div class="row">
  <div class="col-md-12">
    <table class="table table-condensed table-bordered">
      <tr>
        <td class="text-center" style="font-size: small"><b>
          <span class="text-uppercase">Książka inwentarzowa na <%= @years_label %> dla <%= @unit.code %> - <%= @unit.name %></span>
          <br/>
        </b>
        </td>
      </tr>
    </table>
  </div>
</div>

<div>
<table class="table table-condensed top-buffer-20 text-center">
  <tr>
    <th rowspan="2" class="valign_middle text-center">#</th>
    <th rowspan="2" class="valign_middle text-center">Data</th>
    <th rowspan="2" class="valign_middle text-center">Numer inwentarzowy</th>
    <th rowspan="2" class="valign_middle text-center">Nazwa</th>
    <th rowspan="2" class="valign_middle text-center">Numer dokumentu</th>
    <th rowspan="2" class="valign_middle text-center">Źródło</th>
    <th colspan="2" class="text-center">Ilość</th>
    <th rowspan="2" class="valign_middle text-center">Cena<br/>jednostkowa</th>
    <th rowspan="2" class="valign_middle text-center">Wartość</th>
    <th rowspan="2" class="valign_middle text-center">Opis</th>
  </tr>

  <tr>
    <th>Przychód</th>
    <th>Rozchód</th>
  </tr>

<% position = @start_position %>
<% @inventory_entries.each do |inventory_entry| %>
  <tr>
    <td><%= position += 1 %>.</td>
    <td><%= inventory_entry.date %></td>
    <td><%= inventory_entry.stock_number %></td>
    <td><%= inventory_entry.name %></td>
    <td><%= inventory_entry.document_number %></td>
    <td><%= inventory_entry.inventory_source.name %></td>
    <td><%= inventory_entry.is_expense ? '-' : inventory_entry.amount %></td>
    <td><%= inventory_entry.is_expense ? inventory_entry.amount : '-' %></td>
    <td><%= number_with_precision(inventory_entry.unit_price, :precision => 2) %></td>
    <td><%= number_with_precision(inventory_entry.signed_total_value, :precision => 2)  %></td>
    <td><%= inventory_entry.remark %></td>
  </tr>
<% end %>

  <tr>
    <td class="text-right" colspan="9"><b>Razem: </b></td>
    <td><b><%= number_with_precision(@sum_total_value, :precision => 2) %></b></td>
    <td colspan="3"></td>
  </tr>
</table>
</div>

</body>
</html>