<div class="row top-buffer-40">
  <div class="span6">
    <small>
      <% if can? :update, @inventory_entry %>
        <%= link_to new_inventory_entry_path(:is_expense => false), class: 'btn btn-small btn-primary' do %>
          <i class="icon-plus"></i>&nbsp;&nbsp;Nowy przychód
        <% end %>
      <% end %>
      <% if can? :update, @inventory_entry %>
        <%= link_to new_inventory_entry_path(:is_expense => true), class: 'btn btn-small btn-primary' do %>
          <i class="icon-minus"></i>&nbsp;&nbsp;Nowy rozchód
        <% end %>
      <% end %>
    </small>
  </div>
  <div class="span6">
    <div class="pull-right">
      <%= render "shared/inventory_entries_select" %>
    </div>
  </div>
</div>

<table class="table table-condensed top-buffer-20">
  <tr>
    <th rowspan="2" class="valign_middle">Data</th>
    <th rowspan="2" class="valign_middle">Numer inwentarzowy</th>
    <th rowspan="2" class="valign_middle">Nazwa</th>
    <th rowspan="2" class="valign_middle">Numer dokumentu</th>
    <th rowspan="2" class="valign_middle">Źródło</th>
    <th colspan="2" class="text-center">Ilość</th>
    <th rowspan="2" class="valign_middle">Cena jednostkowa</th>
    <th rowspan="2" class="valign_middle">Wartość</th>
    <th rowspan="2"></th>
    <th rowspan="2"></th>
  </tr>

  <tr>
    <th>Przychód</th>
    <th>Rozchód</th>
  </tr>

<% @inventory_entries.each do |inventory_entry| %>
  <tr>
    <td><%= inventory_entry.date %></td>
    <td><%= inventory_entry.stock_number %></td>
    <td><%= inventory_entry.name %></td>
    <td><%= inventory_entry.document_number %></td>
    <td><%= inventory_entry.inventory_source.name %></td>
    <td><%= inventory_entry.is_expense ? '-' : inventory_entry.amount %></td>
    <td><%= inventory_entry.is_expense ? inventory_entry.amount : '-' %></td>
    <td><%= inventory_entry.total_value / inventory_entry.amount %></td>
    <td><%= inventory_entry.total_value * (inventory_entry.is_expense ? -1 : 1)  %></td>
    <td><%= link_to 'Edytuj', edit_inventory_entry_path(inventory_entry) %></td>
    <td><%= link_to 'Usuń', inventory_entry, confirm: 'Na pewno usunąć wpis?', method: :delete %></td>
  </tr>
<% end %>
</table>
