<h1>Listing inventory_entries</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Name</th>
    <th>Document number</th>
    <th>Amount</th>
    <th>Unit price</th>
    <th>Source</th>
    <th>Stock number</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @inventory_entries.each do |inventory_entry| %>
  <tr>
    <td><%= inventory_entry.date %></td>
    <td><%= inventory_entry.name %></td>
    <td><%= inventory_entry.document_number %></td>
    <td><%= inventory_entry.amount %></td>
    <td><%= inventory_entry.unit_price %></td>
    <td><%= inventory_entry.source %></td>
    <td><%= inventory_entry.stock_number %></td>
    <td><%= link_to 'Show', inventory_entry %></td>
    <td><%= link_to 'Edit', edit_inventory_entry_path(inventory_entry) %></td>
    <td><%= link_to 'Destroy', inventory_entry, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Inventory entry', new_inventory_entry_path %>
