<p id="notice"><%= notice %></p>

<p>
  <b>Data:</b>
  <%= @inventory_entry.date %>
</p>

<p>
  <b>Nazwa:</b>
  <%= @inventory_entry.name %>
</p>

<p>
  <b>Numer dokumentu:</b>
  <%= @inventory_entry.document_number %>
</p>

<p>
  <b>Ilość:</b>
  <%= @inventory_entry.amount %>
</p>

<p>
  <b>Wartość:</b>
  <%= @inventory_entry.total_value %>
</p>

<p>
  <b>Źródło:</b>
  <%= @inventory_entry.inventory_source.name %>
</p>

<p>
  <b>Numer inwentarzowy:</b>
  <%= @inventory_entry.stock_number %>
</p>

<p>
    <b>Opis:</b>
    <%= @inventory_entry.description %>
</p>

<%= link_to 'Edytuj', edit_inventory_entry_path(@inventory_entry) %> |
<%= link_to 'Wstecz', inventory_entries_path %>
