<h1>Rodzaje książek</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @journal_types.each do |journal_type| %>
  <tr>
    <td><%= journal_type.name %></td>
    <td><%= link_to 'Show', journal_type %></td>
    <td><%= link_to 'Edit', edit_journal_type_path(journal_type) %></td>
    <td><%= link_to 'Destroy', journal_type, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Journal type', new_journal_type_path %>
