<h1>Rodzaje książek</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @journal_types.each do |journal_type| %>
  <tr>
    <td><%= journal_type.name %></td>
    <td><%= link_to 'Pokaż', journal_type %></td>
    <td><%= link_to 'Edytuj', edit_journal_type_path(journal_type) %></td>
    <td><%= link_to 'Usuń', journal_type, data: { confirm: 'Na pewno usunąć rodzaj książki?'}, method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nowy rodzaj książki', new_journal_type_path %>
