<%= form_for(@entry) do |f| %>
  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% @entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :data %>
    <%= f.text_field :date %>
  </div>
  <div class="field">
    <%= f.label :Treść %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :Numer_dokumentu %>
    <%= f.text_field :document_number %>
  </div>

  <%= f.fields_for :items do |item_fields| %>
	<% category_name = item_fields.object.category.name %>
	<%= item_fields.label :amount, category_name %>
    <%= item_fields.text_field :amount, :class=>"category" %>
    <%= item_fields.hidden_field :category_id %>
    <br/>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
