<%= content_tag(:div, "", id: 'journal-year', data: {source: @journal.year}) %>
<%= hidden_field_tag :journal_blocked_to, @journal.blocked_to %>

<%= form_for(@entry) do |f| %>
  <%= f.hidden_field :referer, { value: @referer } %>
  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2>Wystąpiły błędy podczas próby zapisu:</h2>
      <ul>
      <% @entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <div class="well">
        <div class="row">
          <div class="col-md-3">
            <%= f.label :data %>
            <%= f.text_field :date, class: "form-control", autocomplete: "off" %>
          </div>
          <div class="col-md-6 col-md-offset-3">
            <%= f.label :Numer_dokumentu %>
            <%= f.text_field :document_number, class: "form-control" %>
          </div>
        </div>
        <div class="row top-buffer-20">
          <div class="col-md-12">
            <%= f.label :Opis %>
            <%= f.text_field :name, class: "form-control" %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <%= f.fields_for :items, @sorted_items do |item_fields| %>
        <div class="row top-buffer-20">
          <% category_name = item_fields.object.category.name %>
          <div class="col-md-2">
            <% #item amount %>
            <%= item_fields.label :amount, category_name %>
            <%= item_fields.text_field :amount, class: "category form-control amount-input" %>
          </div>

          <% if @entry.is_expense then %>
            <div class="col-md-2">
              <% #item amount one percent %>
              <%= item_fields.label :amount_one_percent, "w tym 1,5%" %>
              <%= item_fields.text_field :amount_one_percent, :class=>"category form-control amount-input-one-percent" %>
            </div>
            <% print_item_grants_form(item_fields) %>
          <% end %>
          <%= item_fields.hidden_field :category_id, :class=>"category_id"%>
        </div>
      <% end %>

      <%= f.hidden_field :journal_id, :value => @journal.id %>
      <%= f.hidden_field :is_expense, :value => @entry.is_expense %>
    </div>

    <!%-- przenoszenie kwot miedzy ksiazkami na razie wstrzymane --%>
    <% if false && @entry.is_expense %>
      <div class="col-md-6">
        <%= check_box_tag :is_linked, :is_linked, @linked_entry.id, :onclick => "showOrHideLinkedEntry()" %>
        <label for="is_linked">Przenieś do innej książki</label>

        <div id="linked_entry_div">
          <%= fields_for :linked_entry, @linked_entry do |linked_entry| %>
            <%= linked_entry.select :journal_id, options_from_collection_for_select(@other_journals, "id", "journal_type")%>
            <%= linked_entry.fields_for :items do |linked_item_fields| %>
              <%= linked_item_fields.label :amount, linked_item_fields.object.category.name %>
              <%= linked_item_fields.text_field :amount, :class=>"category" %>
              <%= linked_item_fields.hidden_field :category_id, :value => linked_item_fields.object.category.id %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <!-- Szara linia oddzielająca -->
  <div class="row top-buffer-20">
    <div class="col-md-<%= 2 * (1 + (@entry.is_expense ? 1 + Category.find_grants_by_year(@journal.year).count : 0)) %>">
      <hr class="my-3" style="border-top-width: 5px; border-color: #ccc;">
    </div>
  </div>

  <!-- Pole sumy -->
  <div class="row top-buffer-20">
    <div class="col-md-2">
      <label for="total-sum">Suma</label>
      <input type="text" class="form-control" id="total-sum" readonly>
    </div>
    <% if @entry.is_expense %>
      <div class="col-md-2">
        <label for="total-sum-one-percent">Suma 1,5%</label>
        <input type="text" class="form-control" id="total-sum-one-percent" readonly>
      </div>
      <% Category.find_grants_by_year(@journal.year).each do |category| %>
        <% grant = Grant.find(category.grant_id) %>
        <div class="col-md-2">
          <label for="total-sum-grant-<%= grant.id %>">Suma <%= grant.name %></label>
          <input type="text" class="form-control" id="total-sum-grant-<%= grant.id %>" readonly>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="row top-buffer-20">
    <div class="col-md-12">
      <%= f.submit "Zapisz", class: "btn btn-sm btn-success"%>
    </div>
  </div>

<% end %>

<script type="text/JavaScript">
  updateTotalSum('.amount-input', '#total-sum');
  updateTotalSum('.amount-input-one-percent', '#total-sum-one-percent');
  <% Category.find_grants_by_year(@journal.year).each do |category| %>
    <% grant = Grant.find(category.grant_id) %>
    updateTotalSum('.amount-input-grants.grant-<%= grant.id %>', '#total-sum-grant-<%= grant.id %>');
  <% end %>
  showOrHideLinkedEntry();
</script>
