<%= form_for(@entry) do |f| %>
  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% @entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="span6">
      <div class="field">
        <%= f.label :data %>
        <%= f.text_field :date %>
      </div>
      <div class="field">
        <%= f.label :Treść %>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :Numer_dokumentu %>
        <%= f.text_field :document_number %>
      </div>

      <%= f.fields_for :items, @sorted_items do |item_fields| %>
        <div class="row">
          <% category_name = item_fields.object.category.name %>

          <div class="span3">
            <% #item amount %>
            <%= item_fields.label :amount, category_name %>
            <%= item_fields.text_field :amount, :class=>"category" %>
          </div>

          <% if @entry.is_expense then %>
            <div class="span3">
              <% #item amount one percent %>
              <%= item_fields.label :amount_one_percent, "1%" %>
              <%= item_fields.text_field :amount_one_percent, :class=>"category" %>
            </div>
          <% end %>

          <%= item_fields.hidden_field :category_id, :class=>"category_id"%>
        </div>
      <% end %>

      <%= f.hidden_field :journal_id, :value => @journal.id %>
      <%= f.hidden_field :is_expense, :value => @entry.is_expense %>
    </div>

    <!%-- przenoszenie kwot miedzy ksiazkami na razie wstrzymane --%>
    <% if false && @entry.is_expense %>
      <div class="span6">
        <%= check_box_tag :is_linked, :is_linked, @linked_entry.id, :onclick => "showOrHideLinkedEntry()" %>
        <label for="is_linked">Przenieś do innej książki</label>

        <div id="linked_entry_div">
          <%= fields_for :linked_entry, @linked_entry do |linked_entry| %>
            <%= linked_entry.select :journal_id, options_from_collection_for_select(@other_journals, "id", "journal_type")%>

            <%= linked_entry.fields_for :items do |linked_item_fields| %>
              <%= linked_item_fields.label :amount, linked_item_fields.object.category.name %>
              <%= linked_item_fields.text_field :amount, :class=>"category" %>
              <%= linked_item_fields.hidden_field :category_id, :value => linked_item_fields.object.category.id %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit "Zapisz"%>
  </div>
<% end %>
<script type="text/JavaScript">
  showOrHideLinkedEntry();
</script>
