<h1>Książka finansowa: wpływy / wydatki</h1>

<table>
  <tr>
    <th>Data</th>
    <th>Nazwa</th>
    <th>Numer dokumentu</th>
    <% @categories.each do |category| %>
      <th><%= category.name %></th>
    <% end %>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @entries.each do |entry| %>
  <tr class="node <%= cycle("even", "odd") -%>">
    <td><%= entry.date %></td>
    <td><%= entry.name %></td>
    <td><%= entry.document_number %></td>
    <% @categories.each do |category| %>
      <td><%= entry.get_amount_for_category(category.id) %></td>
    <% end %>
    <td><%= link_to 'Pokaż', entry %></td>
    <td><%= link_to 'Edytuj', edit_entry_path(entry) %></td>
    <td><%= link_to 'Usuń', entry, confirm: 'Na pewno usunąć wpis?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nowy wpis', new_entry_path %>
