<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @entry.date %>
</p>

<p>
  <b>Name:</b>
  <%= @entry.name %>
</p>

<p>
  <b>Document number:</b>
  <%= @entry.document_number %>
</p>


<% @categories.each do |category| %>
  <p>
    <b><%= category.name %></b>
    <%= @entry.get_amount_for_category(category.id) %>
  </p>
<% end %>


<%= link_to 'Edytuj', edit_entry_path(@entry) %> |
<%= link_to 'Wstecz', journal_path(@entry.journal) %>
