<%= form_for(@user_unit_association) do |f| %>
  <% if @user_unit_association.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_unit_association.errors.count, "error") %> prohibited this user-unit association from being saved:</h2>

      <ul>
      <% @user_unit_association.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Użytkownik: <%= @user_unit_association.user.email %><%= f.hidden_field :user_id, :value => @user_unit_association.user_id %>
  </div>
  
  <div class="field">
  	Jednostka: 
  	<% if params[:action] == "edit" %>
      <%= @user_unit_association.unit.name %><%= f.hidden_field :unit_id, :value => @user_unit_association.unit_id %>
    <% else %>
      <%= f.collection_select(:unit_id, @units, :id, :name) %>
    <% end %>
  </div>

  <div class="field">
  	Może przeglądać wpisy w książkach: <%= f.check_box :can_view_entries %>
  </div>

  <div class="field">
  	Może edytować wpisy w książkach: <%= f.check_box :can_manage_entries %>
  </div>

  <div class="field">
  	Może zamykać i otwierać książki: <%= f.check_box :can_close_journals %>
  </div>

  <div class="field">
  	Może zarządzać użytkownikami: <%= f.check_box :can_manage_users %>
  </div>
  
  <div class="actions">
    <%= f.submit "Zapisz"%>
  </div>
<% end %>
