<%= form_for(@expense_cash_entry) do |f| %>
  <% if @expense_cash_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@expense_cash_entry.errors.count, "error") %> prohibited this expense_cash_entry from being saved:</h2>

      <ul>
      <% @expense_cash_entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :data %>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :nazwa %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :numer_dokumentu %>
    <%= f.text_field :document_number %>
  </div>
  <div class="field">
    <%= f.label :komentarz %>
    <%= f.text_field :comment %>
  </div>
  <div class="field">
    <%= f.label :razem %>
    <%= f.text_field :razem %>
    <%= f.label :razem_jeden_procent %>
    <%= f.text_field :razem_jeden_procent %>
  </div>
  <div class="field">
    <%= f.label :wyposazenie %>
    <%= f.text_field :wyposazenie %>
    <%= f.label :wyposazenie_jeden_procent %>
    <%= f.text_field :wyposazenie_jeden_procent %>
  </div>
  <div class="field">
    <%= f.label :materialy %>
    <%= f.text_field :materialy %>
    <%= f.label :materialy_jeden_procent %>
    <%= f.text_field :materialy_jeden_procent %>
  </div>
  <div class="field">
    <%= f.label :wyzywienie %>
    <%= f.text_field :wyzywienie %>
    <%= f.label :wyzywienie_jeden_procent %>
    <%= f.text_field :wyzywienie_jeden_procent %>
  </div>
  <div class="field">
    <%= f.label :uslugi %>
    <%= f.text_field :uslugi %>
    <%= f.label :uslugi_jeden_procent %>
    <%= f.text_field :uslugi_jeden_procent %>
  </div>
  <div class="field">
    <%= f.label :transport %>
    <%= f.text_field :transport %>
    <%= f.label :transport_jeden_procent %>
    <%= f.text_field :transport_jeden_procent %>
  </div>
  <div class="field">
    <%= f.label :czynsz %>
    <%= f.text_field :czynsz %>
    <%= f.label :czynsz_jeden_procent %>
    <%= f.text_field :czynsz_jeden_procent %>
  </div>
  <div class="field">
    <%= f.label :ubezpieczenie %>
    <%= f.text_field :ubezpieczenie %>
    <%= f.label :ubezpieczenie_jeden_procent %>
    <%= f.text_field :ubezpieczenie_jeden_procent %>
  </div>
  <div class="field">
    <%= f.label :inne %>
    <%= f.text_field :inne %>
    <%= f.label :inne_jeden_procent %>
    <%= f.text_field :inne_jeden_procent %>
  </div>
  <div class="field">
    <%= f.label :wynagrodzenie %>
    <%= f.text_field :wynagrodzenie %>
    <%= f.label :wynagrodzenie_jeden_procent %>
    <%= f.text_field :wynagrodzenie_jeden_procent %>
  </div>
  <div class="field">
    <%= f.label :skladki %>
    <%= f.text_field :skladki %>
    <%= f.label :skladki_jeden_procent %>
    <%= f.text_field :skladki_jeden_procent %>
  </div>
  <div class="actions">
    <%= f.submit :Zapisz %>
  </div>
<% end %>
