<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @expense_cash_entry.date %>
</p>

<p>
  <b>Name:</b>
  <%= @expense_cash_entry.name %>
</p>

<p>
  <b>Document number:</b>
  <%= @expense_cash_entry.document_number %>
</p>

<p>
  <b>Comment:</b>
  <%= @expense_cash_entry.comment %>
</p>

<p>
  <b>Razem:</b>
  <%= @expense_cash_entry.razem %>
</p>

<p>
  <b>Razem jeden procent:</b>
  <%= @expense_cash_entry.razem_jeden_procent %>
</p>

<p>
  <b>Wyposazenie:</b>
  <%= @expense_cash_entry.wyposazenie %>
</p>

<p>
  <b>Wyposazenie jeden procent:</b>
  <%= @expense_cash_entry.wyposazenie_jeden_procent %>
</p>

<p>
  <b>Materialy:</b>
  <%= @expense_cash_entry.materialy %>
</p>

<p>
  <b>Materialy jeden procent:</b>
  <%= @expense_cash_entry.materialy_jeden_procent %>
</p>

<p>
  <b>Wyzywienie:</b>
  <%= @expense_cash_entry.wyzywienie %>
</p>

<p>
  <b>Wyzywienie jeden procent:</b>
  <%= @expense_cash_entry.wyzywienie_jeden_procent %>
</p>

<p>
  <b>Uslugi:</b>
  <%= @expense_cash_entry.uslugi %>
</p>

<p>
  <b>Uslugi jeden procent:</b>
  <%= @expense_cash_entry.uslugi_jeden_procent %>
</p>

<p>
  <b>Transport:</b>
  <%= @expense_cash_entry.transport %>
</p>

<p>
  <b>Transport jeden procent:</b>
  <%= @expense_cash_entry.transport_jeden_procent %>
</p>

<p>
  <b>Czynsz:</b>
  <%= @expense_cash_entry.czynsz %>
</p>

<p>
  <b>Czynsz jeden procent:</b>
  <%= @expense_cash_entry.czynsz_jeden_procent %>
</p>

<p>
  <b>Ubezpieczenie:</b>
  <%= @expense_cash_entry.ubezpieczenie %>
</p>

<p>
  <b>Ubezpieczenie jeden procent:</b>
  <%= @expense_cash_entry.ubezpieczenie_jeden_procent %>
</p>

<p>
  <b>Inne:</b>
  <%= @expense_cash_entry.inne %>
</p>

<p>
  <b>Inne jeden procent:</b>
  <%= @expense_cash_entry.inne_jeden_procent %>
</p>

<p>
  <b>Wynagrodzenie:</b>
  <%= @expense_cash_entry.wynagrodzenie %>
</p>

<p>
  <b>Wynagrodzenie jeden procent:</b>
  <%= @expense_cash_entry.wynagrodzenie_jeden_procent %>
</p>

<p>
  <b>Skladki:</b>
  <%= @expense_cash_entry.skladki %>
</p>

<p>
  <b>Skladki jeden procent:</b>
  <%= @expense_cash_entry.skladki_jeden_procent %>
</p>


<%= link_to 'Edit', edit_expense_cash_entry_path(@expense_cash_entry) %> |
<%= link_to 'Back', expense_cash_entries_path %>
