<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :unit_ids %>
    <%= f.select :unit_ids, Unit.all.collect { |u| [ u.name, u.id ] }, { :include_blank => "(Brak przypisanych drużyn)" }, :multiple => true %>
  </div>

  <div class="field">
    <%= f.label :user_ids %>
    <%= f.select :user_ids, User.all.collect { |u| [ u.email, u.id ] }, { :include_blank => "(Brak przypisanych użytkowników)" }, :multiple => true %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
