<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row-fluid top-buffer-20">
    <%= f.label :name %>
    <%= f.text_field :name, class: "span6" %>
  </div>

  <div class="row-fluid top-buffer-20">
    <%= f.label :unit_ids %>
    <%= f.select :unit_ids, @units.collect { |u| [ u.name, u.id ] }, { :include_blank => "(Brak przypisanych drużyn)" }, :multiple => true, class: "span6" %>
  </div>
  
  <div class="actions top-buffer-20">
    <%= f.submit "Aktualizuj grupę", class: "btn" %>
  </div>
<% end %>
