<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div class="row">
      <div id="error_explanation">
        <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

        <ul>
        <% @group.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="row top-buffer-20">
    <div class="col-md-1 col-md-offset-11">
      <div class="actions">
        <%= f.submit "Zapisz", class: "btn btn-sm btn-success" %>
      </div>
    </div>
  </div>

  <div class="field">
    <div class="row top-buffer-20">
      <div class="col-md-6">
        <%= f.label :name %><br/>
        <%= f.text_field :name, class: "form-control"%>
      </div>
    </div>
  </div>

  <div class="field">
    <div class="row top-buffer-20">
      <div class="col-md-2">
        <%= f.label :code %><br />
        <%= f.text_field :code , class: "form-control"%>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 top-buffer-20">
      <%= f.label :unit_ids %><br/>
      <%= f.select :unit_ids, @units.collect { |u| [ u.name, u.id ] }, { :include_blank => "(Brak przypisanych drużyn)" }, :multiple => true, class: "col-md-12" %>
    </div>
  </div>
<% end %>