<h1>Grupy jednostek</h1>

<table>
  <tr>
    <th>Nazwa</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @groups.each do |group| %>
  <tr>
    <td><%= group.name %></td>
    <td><%= link_to 'Pokaż', group %></td>
    <td><% if can? :update, group %> <%= link_to 'Edytuj', edit_group_path(group) %> <% end %></td>
    <td><% if can? :destroy, group %> <%= link_to 'Usuń', group, confirm: 'Na pewno usunąć grupę?', method: :delete %> <% end %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nowa grupa', new_group_path %>
