<p id="notice"><%= notice %></p>

<p>
  <b>Nazwa:</b>
  <%= @group.name %>
</p>

<p>
  <b>Podgrupy:</b><br/>
  <% if @group.subgroups.each do |g| %>
    <%= g.name %><br />
  <% end.empty? %>
    (Brak przypisanych podgrup)
  <% end %>
</p>

<p>
  <b>Wszystkie podgrupy:</b><br/>
  <% if @group.find_all_subgroups().each do |g| %>
    <%= g.name %><br />
  <% end.empty? %>
    (Brak przypisanych podgrup)
  <% end %>
</p>

<p>
  <b>Wszystkie nadgrupy:</b><br/>
  <% if @group.find_all_supergroups().each do |g| %>
    <%= g.name %><br />
  <% end.empty? %>
    (Brak przypisanych nadgrup)
  <% end %>
</p>

<p>
  <b>Wszystkie supergrupy:</b><br/>
  <% if Group.find_all_supergroups().each do |g| %>
    <%= g.name %><br />
  <% end.empty? %>
    (Brak supergrup)
  <% end %>
</p>

<p>
  <b>Drużyny:</b><br/>
  <% if @group.units.each do |u| %>
    <%= u.name %><br />
  <% end.empty? %>
    (Brak przypisanych drużyn)
  <% end %>
</p>

  <b>Użytkownicy:</b>
  <table>
  <% if !@group.user_group_associations.empty? %>
  	<tr>
      <th>Użytkownik</th>
      <th>Przeglądanie książki</th>
      <th>Edycja książki</th>
      <th>Zamykanie książki</th>
      <th>Zarządzanie użytkownikami</th>
      <th>Zarządzanie jednostkami</th>
      <th>Zarządzanie grupami</th>
    </tr>
  <% end %>
  <% if @group.user_group_associations.sort {|uga1, uga2| uga1.group.name <=> uga2.group.name }.each do |uga| %>
    <tr>
      <td><%= uga.user.email %></td>
      <td><%= uga.can_view_entries %></td>
      <td><%= uga.can_manage_entries %></td>
      <td><%= uga.can_close_journals %></td>
      <td><%= uga.can_manage_users %></td>
      <td><%= uga.can_manage_units %></td>
      <td><%= uga.can_manage_groups %></td>
      <td>
        <% if can? :update, uga %><%= link_to 'Edytuj', edit_user_group_association_path(uga) %><% end %>
        <% if can? :destroy, uga %><%= link_to 'Usuń', uga, confirm: 'Na pewno usunąć powiązanie?', method: :delete %><% end %>
      </td>
    </tr>
  <% end.empty? %>
    <tr><td colspan="7">(Brak przypisanych użytkowników)</td></tr>
  <% end %>
  </table>
  <% if can? :create, UserGroupAssociation %><%= link_to 'Przypisz użytkownika', new_user_group_association_path(:group_id => @group.id, :from => "group") %><% end %>

<p></p>
<%= link_to 'Edytuj', edit_group_path(@group) %> |
<%= link_to 'Powrót do listy', groups_path %>
