<div class="well">
  <div class="pull-right">
    <% if can? :update, @group %>
        <%= link_to "Edytuj", edit_group_path(@group), class: 'btn btn-sm btn-success' %>
    <% end %>
    <% if can? :destroy, @group %>
        <%= link_to 'Usuń grupę', @group, data: { confirm: 'Na pewno usunąć grupę?'}, method: :delete, class: 'btn btn-sm btn-danger' %>
    <% end %>
  </div>
  <div>
    <b>Nazwa:</b>
    <%= @group.name %>
  </div>
</div>

<div class="well well-small top-buffer-20">
  <fieldset>
    <legend><small>Użytkownicy</small></legend>
    <div>
      <table class="table table-condensed">
        <% if !@group.user_group_associations.empty? %>
            <thead>
            <tr>
              <th>Użytkownik</th>
              <th>Przeglądanie książki</th>
              <th>Edycja książki</th>
              <th>Zamykanie książki</th>
              <th>Zarządzanie użytkownikami</th>
              <th>Zarządzanie jednostkami</th>
              <th>Zarządzanie grupami</th>
              <th></th>
            </tr>
            </thead>
        <% end %>
        <% if @group.user_group_associations.sort {|uga1, uga2| uga1.group.name <=> uga2.group.name }.each do |uga| %>
            <tbody>
            <tr>
              <td><div class="text-center"><%= link_to uga.user.email, uga.user %></div></td>
              <td><div class="text-center"><%= render_boolean_icon(uga.can_view_entries) %></div></td>
              <td><div class="text-center"><%= render_boolean_icon(uga.can_manage_entries) %></div></td>
              <td><div class="text-center"><%= render_boolean_icon(uga.can_close_journals) %></div></td>
              <td><div class="text-center"><%= render_boolean_icon(uga.can_manage_users) %></div></td>
              <td><div class="text-center"><%= render_boolean_icon(uga.can_manage_units) %></div></td>
              <td><div class="text-center"><%= render_boolean_icon(uga.can_manage_groups) %></div></td>
              <td>
                <% if can? :update, uga %><%= link_to 'Edytuj', edit_user_group_association_path(uga) %><% end %>
                <% if can? :destroy, uga %><%= link_to 'Usuń', uga, data: { confirm: 'Na pewno usunąć powiązanie?'}, method: :delete %><% end %>
              </td>
            </tr>
            </tbody>
        <% end.empty? %>
            <tr><td colspan="7">(Brak przypisanych użytkowników)</td></tr>
        <% end %>
      </table>
      <% if can? :create, UserGroupAssociation %>
          <%= link_to 'Przypisz użytkownika', new_user_group_association_path(:group_id => @group.id, :from => "group"), class: 'btn btn-sm btn-success' %>
      <% end %>
    </div>
  </fieldset>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="well well-small top-buffer-20">
      <fieldset>
        <legend><small>Jednostki</small></legend>
        <div>
          <% if @group.units.each do |u| %>
              <%= link_to u.name, u%><br />
          <% end.empty? %>
              (Brak przypisanych drużyn)
          <% end %>
        </div>
      </fieldset>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= link_to 'Powrót do listy', groups_path, class: 'btn btn-sm' %>
  </div>
</div>
