<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email, 'disabled' => !@user.id.nil? %>
  </div>
  
  <div class="field">
    <%= f.label :is_superadmin %><br />
    <%= f.check_box :is_superadmin %>
  </div>
  
  <div class="field">
    <%= f.label :is_blocked %><br />
    <%= f.check_box :is_blocked %>
  </div>
  
  <div class="field">
    <%= f.label :unit_ids %>
    <%= f.select :unit_ids, Unit.all.collect { |u| [ u.name, u.id ] }, { :include_blank => "(Nieprzypisany do żadnej drużyny)" }, :multiple => true %>
  </div>

  <div class="field">
    <%= f.label :group_ids %>
    <%= f.select :group_ids, Group.all.collect { |g| [ g.name, g.id ] }, { :include_blank => "(Nieprzypisany do żadnej grupy)" }, :multiple => true %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
