<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="row">
      <div class="col-md-3">
        <%= f.label :email %></br>
        <%= f.text_field :email, 'disabled' => !@user.id.nil?, :pattern => '^.*@(?:[^@]*\.|)zhr\.pl', :placeholder => "Adres email w domenie zhr.pl" %>
      </div>
    </div>

    <div class="row top-buffer-20">
      <div class="col-md-3">
        <%= f.label :first_name %></br>
        <%= f.text_field :first_name %>
      </div>
    </div>

    <div class="row top-buffer-20">
      <div class="col-md-3">
        <%= f.label :last_name %></br>
        <%= f.text_field :last_name %>
      </div>
    </div>

    <div class="row top-buffer-20">
      <div class="col-md-3">
        <%= f.label :phone %></br>
        <%= f.text_field :phone %>
      </div>
    </div>

  <% if can? :set_superadmin, @user %>
    <div class="field">
      <div class="row top-buffer-20">
        <div class="col-md-3">
          <%= f.label :is_superadmin %>
          <%= f.check_box :is_superadmin %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="field">
    <div class="row top-buffer-20">
      <div class="col-md-6">
        <%= f.label :is_blocked %>
        <%= f.check_box :is_blocked %>
      </div>
    </div>
  </div>

  <div class="actions">
    <div class="row top-buffer-20">
      <div class="col-md-3">
        <%= f.submit :Zapisz, class: "btn btn-sm btn-success" %>
      </div>
    </div>
  </div>
<% end %>
