<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<p>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email, 'disabled' => !@user.id.nil? %>
  </div>
  </p>

	<p>
  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  </p>

	<p>
  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  </p>

	<p>
  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>
  </p>

  <% if can? :set_superadmin, @user %>
    <p>
    <div class="field">
      <%= f.label :is_superadmin %>
      <%= f.check_box :is_superadmin %>
    </div>
    </p>
  <% end %>

	<p>
  <div class="field">
    <%= f.label :is_blocked %>
    <%= f.check_box :is_blocked %>
  </div>
	</p>

  <div class="actions">
    <%= f.submit :Zapisz %>
  </div>
<% end %>
