<style type="text/css">
table.users tr.invited td { color: #aaa; }
</style>
<h1>Lista użytkowników</h1>

<table class="users">
  <tr>
    <th>E-mail</th>
    <th>Status</th>
    <% if can? :set_superadmin, @user %>
      <th>Superadmin</th>
    <% end %>
    <th>Zablokowany</th>
    <th colspan="3">Akcja</th>
  </tr>

<% @users.each do |user| %>
  <tr class="<%= user.status %>">
    <td><%= user.email %></td>
    <td><%= I18n.t(user.status) %></td>
    <% if can? :set_superadmin, @user %>
      <td><%= user.is_superadmin ? "TAK" : "nie" %></td>
    <% end %>
    <td><%= user.is_blocked ? "TAK" : "nie" %></td>
    <td><% if can? :read, user %><%= link_to 'Pokaż', user %><% end %></td>
    <td><% if can? :update, user %><%= link_to 'Edytuj', edit_user_path(user) %><% end %></td>
    <td><% if can? :destroy, user %><%= link_to 'Usuń', user, confirm: 'Na pewno usunąć użytkownika?', method: :delete %><% end %></td>
  </tr>
<% end %>
</table>

<br />

<% if can? :create, User %><%= link_to "Nowy użytkownik", new_user_path, :accesskey => 'N' %><% end %>
