<script>
  document.addEventListener('DOMContentLoaded', function () {
    initSearch('users-search', 'table.users tbody tr, table.table-condensed tbody tr');
  });
</script>

<style type="text/css">
table.users tr.invited td { color: #aaa; }
</style>

<div class="row">
  <div class="col-md-8">
    <h3>Administracja &gt; Użytkownicy</h3>
  </div>
  <div class="col-md-4">
    <div class="pull-right top-buffer-20">
      <% if can? :create, User %>
        <%= link_to 'Nowy użytkownik', new_user_path, class: "btn btn-sm btn-success" %>
      <% end %>
      <%= link_to "<span class='glyphicon glyphicon glyphicon-list'></span>&nbsp;&nbsp;Eksport do CSV".html_safe, @csv_export_link, class: 'btn btn-sm btn-primary' %>
    </div>
  </div>
</div>

<div class="row top-buffer-20">
  <div class="col-md-4">
    <%= text_field_tag :query, params[:query], placeholder: "Szukaj...", class: "form-control", id: "users-search" %>
  </div>
</div>

<table class="table table-condensed top-buffer-20 users">
  <tr>
    <th>E-mail</th>
    <th>Imię</th>
    <th>Nazwisko</th>
    <th>Telefon</th>
    <th class="text-center">Status</th>
    <% if can? :set_superadmin, @user %>
      <th class="text-center">Superadmin</th>
    <% end %>
    <th class="text-center">Zablokowany</th>
  </tr>

<% @users.each do |user| %>
  <% if not user.is_blocked %>
  <tr>
    <td><%= link_to user.email, user %></td>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.phone %></td>
    <td class="text-center"><%= I18n.t(user.status) %></td>
    <% if can? :set_superadmin, @user %>
      <td><%= render_boolean_icon_centered(user.is_superadmin) %></td>
    <% end %>
    <td><%= render_boolean_icon_centered(user.is_blocked) %></td>
  </tr>
  <% end %>
<% end %>

  <tr>
    <td colspan="8">
      <span class="btn btn-small btn-default top-buffer-20" data-toggle="collapse" data-target="#inactive">Pokaż / ukryj zablokowane</span>
    </td>
  </tr>

<tbody id="inactive" class="collapse">
<% @users.each do |user| %>
  <% if user.is_blocked %>
  <tr>
    <td><%= link_to user.email, user %></td>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.phone %></td>
    <td class="text-center"><%= I18n.t(user.status) %></td>
    <% if can? :set_superadmin, @user %>
      <td><%= render_boolean_icon_centered(user.is_superadmin) %></td>
    <% end %>
    <td><%= render_boolean_icon_centered(user.is_blocked) %></td>
  </tr>
  <% end %>
<% end %>
</tbody>
</table>
