<h1>Użytkownik <%= @user.email %></h1>

<div class="well">
  <p>
    <b>Adres e-mail:</b>
    <%= @user.email if @user.email %>
  </p>

  <p>
    <b>Imię:</b>
    <%= @user.first_name %>
  </p>

  <p>
    <b>Nazwisko:</b>
    <%= @user.last_name %>
  </p>

  <p>
    <b>Telefon:</b>
    <%= @user.phone %>
  </p>

  <% if can? :set_superadmin, @user %>
    <p>
      <b>Superadmin:</b>
      <%= render_boolean_icon(@user.is_superadmin) %>
    </p>
  <% end %>

  <p>
    <b>Zablokowany:</b>
      <%= render_boolean_icon(@user.is_blocked) %>
  </p>
</div>

<div class="well">
  <p>
    <b>Przypisane grupy:</b><br/>
    <table class="table table-condensed top-buffer-20 text-center">
    <% if !@user.user_group_associations.empty? %>
      <tr>
        <th>Grupa</th>
        <th>Przeglądanie książki</th>
        <th>Edycja książki</th>
        <th>Zamykanie książki</th>
        <th>Zarządzanie użytkownikami</th>
        <th>Zarządzanie jednostkami</th>
        <th>Zarządzanie grupami</th>
      </tr>
    <% end %>
    <% if @user.user_group_associations.sort {|uga1, uga2| uga1.group.name <=> uga2.group.name }.each do |uga| %>
      <tr>
        <td><%= link_to uga.group.name, uga.group %></td>
        <td><%= render_boolean_icon_centered(uga.can_view_entries) %></td>
        <td><%= render_boolean_icon_centered(uga.can_manage_entries) %></td>
        <td><%= render_boolean_icon_centered(uga.can_close_journals) %></td>
        <td><%= render_boolean_icon_centered(uga.can_manage_users) %></td>
        <td><%= render_boolean_icon_centered(uga.can_manage_units) %></td>
        <td><%= render_boolean_icon_centered(uga.can_manage_groups) %></td>
        <td>
          <% if can? :update, uga %><%= link_to 'Edytuj', edit_user_group_association_path(uga) %><% end %>
          <% if can? :destroy, uga %><%= link_to 'Usuń', uga, data: { confirm: 'Na pewno usunąć powiązanie?'}, method: :delete %><% end %>
        </td>
      </tr>
    <% end.empty? %>
      <tr><td colspan="7">Brak przypisanych grup</td></tr>
    <% end %>
    </table>
    <% if can? :create, UserGroupAssociation %><%= link_to 'Przypisz grupę', new_user_group_association_path(:user_id => @user.id) %><% end %>
  </p>
</div>

<div class="well">
  <p>
    <b>Przypisane drużyny:</b><br/>
    <table class="table table-condensed top-buffer-20 text-center">
    <% if !@user.user_unit_associations.empty? %>
      <tr>
        <th>Drużyna</th>
        <th>Przeglądanie książki</th>
        <th>Edycja książki</th>
        <th>Zamykanie książki</th>
        <th>Zarządzanie użytkownikami</th>
      </tr>
    <% end %>
    <% if @user.user_unit_associations.sort {|uua1, uua2| uua1.unit.name <=> uua2.unit.name }.each do |uua| %>
      <tr>
        <td><%= link_to uua.unit.name, uua.unit %></td>
        <td><%= render_boolean_icon_centered(uua.can_view_entries) %></td>
        <td><%= render_boolean_icon_centered(uua.can_manage_entries) %></td>
        <td><%= render_boolean_icon_centered(uua.can_close_journals) %></td>
        <td><%= render_boolean_icon_centered(uua.can_manage_users) %></td>
        <td>
          <% if can? :update, uua %><%= link_to 'Edytuj', edit_user_unit_association_path(uua) %><% end %>
          <% if can? :destroy, uua %><%= link_to 'Usuń', uua, data: { confirm: 'Na pewno usunąć powiązanie?'}, method: :delete %><% end %>
        </td>
      </tr>
    <% end.empty? %>
      <tr><td colspan="5">Brak przypisanych drużyn</td></tr>
    <% end %>
    </table>
    <% if can? :create, UserUnitAssociation %><%= link_to 'Przypisz jednostkę', new_user_unit_association_path(:user_id => @user.id) %><% end %>
  </p>
</div>

<!--%= debug @user %-->
<p>
  <% if can? :update, @user %><%= link_to 'Edytuj', edit_user_path(@user), :accesskey => 'e' %> |<% end %>
  <% if can? :update, @user %>
    <% if @user.is_blocked %>
      <%= link_to  'Odblokuj', unblock_user_path(@user), data: { confirm: 'Czy chcesz pozwolić użytkownikowi na zalogowanie się?'}, :title => 'Umożliwia użytkownikowi zalogowanie się' %> |
    <% else %>
      <%= link_to 'Zablokuj', block_user_path(@user), data: { confirm: 'Czy chcez zablokować możliwość zalogowania się?'}, :title => 'Pozbawia użytkownika możliwości zalogowania się' %> |
    <% end %>
  <% end %>
  <% if current_user.is_superadmin %>
    <% if @user.is_superadmin %>
      <%= link_to 'Zdegraduj', demote_user_path(@user), data: { confirm: 'Pozbawić użytkownika roli superadmina?'}, :title => 'Pozbawia użytkownika roli superadmina' %> |
    <% else %>
      <%= link_to 'Awansuj', promote_user_path(@user), data: { confirm: 'Awansować użytkownika do roli superadmina?'}, :title => 'Awansuje użytkownika do roli superadmina' %>
    <% end %>
  <% end %>
</p>

<p>
  <%= link_to 'Lista', users_path, :accesskey => 'l' %>
  <% if can? :create, User %>| <%= link_to 'Nowy użytkownik', new_user_path, :accesskey => 'n' %><% end %>
</p>
