<script type="text/javascript">
 function selectedUnitChanged(unitId) {
   document.location.href = "<%= journals_path %>?unit_id=" + unitId.toString() + "&journal_type_id=<%= @journal.journal_type.id %>&year=<%= @journal.year %>";
 }
 function selectedYearChanged(year) {
   document.location.href = "<%= journals_path %>?unit_id=<%= @journal.unit.id %>&journal_type_id=<%= @journal.journal_type.id %>&year=" + year;
 }
</script>
<select onchange="selectedUnitChanged(this.value)" class="span4">
  <% @user_units.each do |unit| %>
    <option value="<%= unit.id %>" <%= unit.id == @journal.unit.id ? "selected='selected'" : "" %>><%= unit.name %></option>
  <% end %>
</select>
<select onchange="selectedYearChanged(this.value)" class="span1">
  <% @years.each do |year| %>
    <option value="<%= year %>" <%= year == @journal.year ? "selected='selected'" : "" %>><%= year %></option>
  <% end %>
</select>
