<%= form_for(@user_group_association, :url => { :action => @user_group_association.new_record? ? "create" : "update" , :from => params[:from] }) do |f| %>
  <% if @user_group_association.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_group_association.errors.count, "error") %> prohibited this user-group association from being saved:</h2>

      <ul>
      <% @user_group_association.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Użytkownik:
    <% if params[:action] == "edit" || params[:user_id] %>
      <%= @user_group_association.user.email %><%= f.hidden_field :user_id, :value => @user_group_association.user_id %>
    <% else %>
      <%= f.collection_select(:user_id, @users, :id, :email) %>
    <% end %>
  </div>
  
  <div class="field">
  	Grupa: 
  	<% if params[:action] == "edit" || params[:group_id] %>
      <%= @user_group_association.group.name %><%= f.hidden_field :group_id, :value => @user_group_association.group_id %>
    <% else %>
      <%= f.collection_select(:group_id, @groups, :id, :name) %>
    <% end %>
  </div>

  <div class="field">
  	Może przeglądać wpisy w książkach: <%= f.check_box :can_view_entries %>
  </div>

  <div class="field">
  	Może edytować wpisy w książkach: <%= f.check_box :can_manage_entries %>
  </div>

  <div class="field">
  	Może zamykać i otwierać książki: <%= f.check_box :can_close_journals %>
  </div>

  <div class="field">
  	Może zarządzać użytkownikami: <%= f.check_box :can_manage_users %>
  </div>

  <div class="field">
  	Może zarządzać jednostkami: <%= f.check_box :can_manage_units %>
  </div>

  <div class="field">
  	Może zarządzać grupami: <%= f.check_box :can_manage_groups %>
  </div>
  
  <div class="actions">
    <%= f.submit "Zapisz"%>
  </div>
<% end %>
