<%= form_for(@user_group_association) do |f| %>
  <% if @user_group_association.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_group_association.errors.count, "error") %> prohibited this user-group association from being saved:</h2>

      <ul>
      <% @user_group_association.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Użytkownik: <%= @user_group_association.user.email %>
  </div>
  
  <div class="field">
  	Grupa: <%= @user_group_association.group.name %>
  </div>

  <div class="field">
  	Może przeglądać wpisy w książkach: <%= f.check_box :can_view_entries %>
  </div>

  <div class="field">
  	Może edytować wpisy w książkach: <%= f.check_box :can_manage_entries %>
  </div>

  <div class="field">
  	Może zamykać i otwierać książki: <%= f.check_box :can_close_journals %>
  </div>

  <div class="field">
  	Może zarządzać użytkownikami: <%= f.check_box :can_manage_users %>
  </div>

  <div class="field">
  	Może zarządzać jednostkami: <%= f.check_box :can_manage_units %>
  </div>
  
  <div class="actions">
    <%= f.submit "Zapisz"%>
  </div>
<% end %>
