<h1>Audit log</h1>

<table class="table table-condensed top-buffer-20">
  <tr>
    <th>Obiekt</th>
    <th>user_id</th>
    <th>Użytkownik</th>
    <th>Rodzaj zmiany</th>
    <th>Zmiana</th>
    <th>IP</th>
    <th>Czas</th>
  </tr>

  <% @audits.each do |audit| %>
      <tr>
        <td><%= audit.auditable_type %>(id: <%= audit.auditable_id%>)</td>
        <td><%= audit.user_id %></td>
        <td><%= audit.username %></td>
        <td><%= audit.action %></td>
        <td><%= audit.audited_changes %></td>
        <td><%= audit.remote_address %></td>
        <td><%= audit.created_at %></td>
      </tr>
  <% end %>
</table>

<%= will_paginate @audits %>

