<%= form_for(@revenue_cash_entry) do |f| %>
  <% if @revenue_cash_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@revenue_cash_entry.errors.count, "error") %> prohibited this revenue_cash_entry from being saved:</h2>

      <ul>
      <% @revenue_cash_entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :data %>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :nazwa %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :numer_dokumentu %>
    <%= f.text_field :document_number %>
  </div>
  <div class="field">
    <%= f.label :komentarz %>
    <%= f.text_field :comment %>
  </div>
  <div class="field">
    <%= f.label :razem %>
    <%= f.text_field :razem %>
  </div>
  <div class="field">
    <%= f.label :darowizny %>
    <%= f.text_field :darowizny %>
  </div>
  <div class="field">
    <%= f.label :akcje_zarobkowe %>
    <%= f.text_field :akcje_zarobkowe %>
  </div>
  <div class="field">
    <%= f.label :jeden_procent %>
    <%= f.text_field :jeden_procent %>
  </div>
  <div class="field">
    <%= f.label :inne %>
    <%= f.text_field :inne %>
  </div>
  <div class="field">
    <%= f.label :skladki %>
    <%= f.text_field :skladki %>
  </div>
  <div class="actions">
    <%= f.submit :Zapisz %>
  </div>
<% end %>
