<h1>Listing revenue_cash_entries</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Name</th>
    <th>Document number</th>
    <th>Comment</th>
    <th>Razem</th>
    <th>Darowizny</th>
    <th>Akcje zarobkowe</th>
    <th>Jeden procent</th>
    <th>Inne</th>
    <th>Skladki</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @revenue_cash_entries.each do |revenue_cash_entry| %>
  <tr>
    <td><%= revenue_cash_entry.date %></td>
    <td><%= revenue_cash_entry.name %></td>
    <td><%= revenue_cash_entry.document_number %></td>
    <td><%= revenue_cash_entry.comment %></td>
    <td><%= revenue_cash_entry.razem %></td>
    <td><%= revenue_cash_entry.darowizny %></td>
    <td><%= revenue_cash_entry.akcje_zarobkowe %></td>
    <td><%= revenue_cash_entry.jeden_procent %></td>
    <td><%= revenue_cash_entry.inne %></td>
    <td><%= revenue_cash_entry.skladki %></td>
    <td><%= link_to 'Edit', edit_revenue_cash_entry_path(revenue_cash_entry) %></td>
    <td><%= link_to 'Destroy', revenue_cash_entry, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Revenue cash entry', new_revenue_cash_entry_path %>
