<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @revenue_cash_entry.date %>
</p>

<p>
  <b>Name:</b>
  <%= @revenue_cash_entry.name %>
</p>

<p>
  <b>Document number:</b>
  <%= @revenue_cash_entry.document_number %>
</p>

<p>
  <b>Comment:</b>
  <%= @revenue_cash_entry.comment %>
</p>

<p>
  <b>Razem:</b>
  <%= @revenue_cash_entry.razem %>
</p>

<p>
  <b>Darowizny:</b>
  <%= @revenue_cash_entry.darowizny %>
</p>

<p>
  <b>Akcje zarobkowe:</b>
  <%= @revenue_cash_entry.akcje_zarobkowe %>
</p>

<p>
  <b>Jeden procent:</b>
  <%= @revenue_cash_entry.jeden_procent %>
</p>

<p>
  <b>Inne:</b>
  <%= @revenue_cash_entry.inne %>
</p>

<p>
  <b>Skladki:</b>
  <%= @revenue_cash_entry.skladki %>
</p>


<%= link_to 'Edit', edit_revenue_cash_entry_path(@revenue_cash_entry) %> |
<%= link_to 'Back', revenue_cash_entries_path %>
