<div class="row">
  <h2 class="span3 offset4 pull-left">Zaloguj się</h2>
</div>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => 'form-horizontal' }) do |f| %>
  <div class="row">
    <div class='span3 offset4'>
      <div class='control-group'>
        <%= f.email_field :email, :placeholder => I18n.t('helpers.label.user.email'), :class=>"span3" %>
      </div>

      <div class='control-group'>
        <%= f.password_field :password, :placeholder => I18n.t('helpers.label.user.password'), :class=>"span3" %>
      </div>

      <div class='control-group'>
        <% if devise_mapping.rememberable? %>
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, :class=>"checkbox inline" %>
        <% end %>
      </div>

      <div class='control-group'>
        <input type="button" class="btn btn-primary pull-left" value="Wypełnij"
               onclick="document.getElementById('user_email').value='ziher_to@zhr.pl'; document.getElementById('user_password').value='0xDEADBEEF'" />
        <%= f.submit "Zaloguj się", :class => 'btn btn-primary pull-right' %>
      </div>

    </div>
  </div>

<% end %>
<br/>

<%= render "links" %>
