<h2>Zaloguj się</h2>

użytkownik: ziher_to@zhr.pl<br />
hasło: 0xDEADBEEF<br />
<input type="button" 
       onclick="document.getElementById('user_email').value='ziher_to@zhr.pl';
                document.getElementById('user_password').value='0xDEADBEEF'"
       value="wypełnij"/><br/>
<br />


<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

	<div>
		<%= f.submit "Zaloguj się" %>
		<% if devise_mapping.rememberable? -%>
			<%= f.check_box :remember_me %> <%= f.label :remember_me %>
		<% end -%>
	</div>
<% end %>
<br/>

<%= render "links" %>
