<h1>Książki</h1>

<table>
  <tr>
    <th>Rok</th>
    <th>Rodzaj</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @journals.each do |journal| %>
  <tr>
    <td><%= journal.year %></td>
    <td><%= journal.journal_type.name %></td>
    <td><%= link_to 'Pokaż', journal %></td>
    <td><%= link_to 'Edytuj', edit_journal_path(journal) %></td>
    <td><%= link_to 'Usuń', journal, confirm: 'Na pewno?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nowa książka', new_journal_path %>
