<h1>Książki</h1>

<table>
  <tr>
    <th><%=t("journal.year")%></th>
    <th><%=t("journal.journal_type")%></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @journals.each do |journal| %>
  <tr>
    <td><%= journal.year %></td>
    <td><%= journal.journal_type.name %></td>
    <td><%= link_to 'Pokaż wpisy', journal %></td>
    <td><%= link_to 'Edytuj', edit_journal_path(journal) %></td>
    <td><%= link_to 'Usuń', journal, confirm: 'Na pewno?', method: :delete %></td>
    <% if journal.is_open %>
      <td><%= link_to 'Zamknij', close_journal_url(journal), confirm: 'Na pewno?' %></td>
    <% else %>
      <td><%= link_to 'Otwórz', open_journal_url(journal), confirm: 'Na pewno?' %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nowa książka', new_journal_path %>
