<% content_for :journal_select do  %>
  <script type="text/javascript">
   function selectedUnitChanged(unitId) {
     document.location.href = "<%= journals_path %>?unit_id=" + unitId.toString() + "&journal_type_id=<%= @journal.journal_type.id %>&year=<%= @journal.year %>";
   }
   function selectedYearChanged(journalId) {
     document.location.href = "<%= journals_path %>/" + journalId;
   }
  </script>
  <select onchange="selectedUnitChanged(this.value)">
    <% @user_units.each do |unit| %>
      <option value="<%= unit.id %>" <%= unit.id == @journal.unit.id ? "selected='selected'" : "" %>><%= unit.name %></option>
    <% end %>
  </select>
  <select onchange="selectedYearChanged(this.value)">
    <% @years.each do |journal| %>
      <option value="<%= journal.id %>" <%= journal.year == @journal.year ? "selected='selected'" : "" %>><%= journal.year %></option>
    <% end %>
  </select>
<% end %>
<h1><%=@journal.journal_type.name%> dla <%= @journal.unit.name %>, <%=@journal.year%></h1>

<table class="table table-bordered table-condensed">

  <thead>
    <tr>
      <th colspan="3"></th>
      <th colspan="<%= @categories_income.count %>" class="balance-label">Saldo początkowe:</th>
      <th colspan="2" class="balance" id="initial-balance"><%= @journal.initial_balance %></th>
      <th colspan="<%= @categories_expense.count + 3 %>"></th>
    </tr>

    <tr>
      <th rowspan="2" class="valign_middle">#</th>
      <th rowspan="2" class="valign_middle text-center">Data</th>
      <th rowspan="2" class="valign_middle text-center">Treść</th>
      <th colspan="<%= @categories_income.count %>" class="text-center">Wpływy szczegółowo</th>
      <th rowspan="2" class="income_all valign_middle">Wpływy razem</th>
      <th rowspan="2" class="expense_all valign_middle">Wydatki razem</th>
      <th colspan="<%= @categories_expense.count %>" class="text-center">Wydatki szczegółowo</th>
      <th rowspan="3" colspan="3">Akcja</th>
    </tr>

    <tr>
      <% @categories_income.each do |category| %>
        <th class="income_<%= category.id %>"><small><%= category.name %></small></th>
      <% end %>
      <% @categories_expense.each do |category| %>
        <th class="expense_<%= category.id %>"><small><%= category.name %></small></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
  <% i = 0 %>
  <% @entries.each do |entry| %>
    <tr class="node <%= cycle("even", "odd") -%>"></tr>
    <tr>
      <td><%= i+=1 =%>.</td>
      <td><%= entry.date %></td>
      <td><%= entry.name %><br/><%= entry.document_number %></td>

      <% @categories_income.each do |category| %>
        <td class="income_<%= category.id %> text-right">
          <% print_formatted_amount(entry.get_amount_for_category(category.id)) %>
        </td>
      <% end %>

      <td class="income_all text-right"><%= entry.is_expense ? "-" : entry.sum %></td>

      <td class="expense_all text-right">
        <% if entry.is_expense
            print_formatted_amount_with_one_percent(entry.sum, entry.sum_one_percent)
           else
            concat "-"
           end
        %>
      </td>

      <% @categories_expense.each do |category| %>
        <td class="expense_<%= category.id %> text-right">
          <% print_formatted_amount_with_one_percent(entry.get_amount_for_category(category.id), entry.get_amount_one_percent_for_category(category.id)) %>
        </td>
      <% end %>

      <td><%= link_to edit_entry_path(entry) do%><i class="icon-pencil"></i> Edytuj<%end%></td>
      <td><%= link_to entry, confirm: 'Na pewno usunąć wpis?', method: :delete do%><i class="icon-trash"></i> Usuń<%end%></td>
    </tr>
  <% end %>
  </tbody>

  <!%-- row with sums for each category --%>
  <tfoot>
    <tr>
      <td colspan="3">Suma</td>
      <% @categories_income.each do |category| %>
        <td class="income_<%= category.id %> text-right" text-right><%= @journal.get_sum_for_category(category) %></td>
      <% end %>
      <td class="income_all text-right"><%= @journal.get_income_sum %></td>

      <td class="expense_all text-right">
        <% print_formatted_amount_with_one_percent(@journal.get_expense_sum, @journal.get_expense_one_percent_sum) %>
      </td>
      <% @categories_expense.each do |category| %>
        <td class="expense_<%= category.id %> text-right">
          <% print_formatted_amount_with_one_percent(@journal.get_sum_for_category(category), @journal.get_sum_one_percent_for_category(category)) %>
        </td>
      <% end %>
      <td colspan="3"></td>
    </tr>
  </tfoot>
</table>

<br />

<%= link_to 'Nowy wydatek', new_entry_path(:journal_id => @journal.id, :is_expense => true) %>
<%= link_to 'Nowy wpływ', new_entry_path(:journal_id => @journal.id, :is_expense => false) %>
