<% content_for :journal_select do  %>
  <script type="text/javascript">
   function selectedUnitChanged(unitId) {
     document.location.href = "<%= journals_path %>?unit_id=" + unitId.toString() + "&journal_type_id=<%= @journal.journal_type.id %>&year=<%= @journal.year %>";
   }
   function selectedYearChanged(journalId) {
     document.location.href = "<%= journals_path %>/" + journalId;
   }
  </script>
  <select onchange="selectedUnitChanged(this.value)" class="span2">
    <% @user_units.each do |unit| %>
      <option value="<%= unit.id %>" <%= unit.id == @journal.unit.id ? "selected='selected'" : "" %>><%= unit.name %></option>
    <% end %>
  </select>
  <select onchange="selectedYearChanged(this.value)" class="span1">
    <% @years.each do |journal| %>
      <option value="<%= journal.id %>" <%= journal.year == @journal.year ? "selected='selected'" : "" %>><%= journal.year %></option>
    <% end %>
  </select>
<% end %>

<% if can? :update, @journal %><%= link_to 'Nowy wpływ', new_entry_path(:journal_id => @journal.id, :is_expense => false) %><% end %>
<% if can? :update, @journal %><%= link_to 'Nowy wydatek', new_entry_path(:journal_id => @journal.id, :is_expense => true) %><% end %>

<table class="table table-bordered table-condensed">

  <thead>
    <tr>
      <th colspan="3"></th>
      <th colspan="<%= @categories_income.count %>" class="balance-label">Saldo początkowe (w tym 1%):</th>
      <th colspan="2" class="balance" id="initial-balance">
        <%= number_with_precision(@journal.initial_balance, :precision => 2) %> zł
        (<%= number_with_precision(@journal.initial_balance_one_percent, :precision => 2) %> zł)
      </th>

      <th colspan="<%= @categories_expense.count %>">
        <span class='muted pull-right'><%=@journal.journal_type.name%> dla <%= @journal.unit.name %>, <%=@journal.year%></span>
      </th>
    </tr>

    <tr>
      <th rowspan="2" class="valign_middle">#</th>
      <th rowspan="2" class="valign_middle text-center">Data</th>
      <th rowspan="2" class="valign_middle text-center">Treść</th>
      <th colspan="<%= @categories_income.count %>" class="text-center">Wpływy szczegółowo</th>
      <th rowspan="2" class="income_all valign_middle">Wpływy razem</th>
      <th rowspan="2" class="expense_all valign_middle">Wydatki razem</th>
      <th colspan="<%= @categories_expense.count %>" class="text-center">Wydatki szczegółowo</th>
    </tr>

    <tr>
      <% @categories_income.each do |category| %>
        <th class="income_<%= category.id %>"><small><small><%= category.name %></small></small></th>
      <% end %>
      <% @categories_expense.each do |category| %>
        <th class="expense_<%= category.id %>"><small><small><%= category.name %></small></small></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
  <% i = 0 %>
  <% @entries.each do |entry| %>
    <tr class="node <%= cycle("even", "odd") -%>"></tr>
    <tr>
      <td>
        <small>
          <span style='display: block;'><%= i+=1 =%>.</span>
          <% if can? :update, entry %><%= link_to edit_entry_path(entry) do%><i class="icon-pencil" title="Edytuj"></i><%end%><% end %>
          <% if can? :destroy, entry %><%= link_to entry, confirm: 'Na pewno usunąć wpis?', method: :delete do%><i class="icon-trash" title="Usuń"></i><%end%><% end %>
        </small>
      </td>
      <td><small><%= entry.date %></small></td>
      <td>
        <small>
          <span title='<%= I18n.t('helpers.label.journal.name_tooltip') %>'><%= entry.name %></span>
          <hr style='margin: 2px 0;'/>
          <span title='<%= I18n.t('helpers.label.journal.document_number_tooltip') %>'><%= entry.document_number %></span>
        </small>
      </td>

      <% @categories_income.each do |category| %>
        <td class="income income_<%= category.id %> text-right">
          <small><% print_formatted_amount(entry.get_amount_for_category(category.id)) %></small>
        </td>
      <% end %>

      <td class="income income_all text-right">
        <small>
        <% if entry.is_expense
            concat "-"
           else
            print_formatted_amount(entry.sum)
           end
        %>
        </small>
      </td>

      <td class="expense expense_all text-right">
        <small>
        <% if entry.is_expense
            print_formatted_amount_with_one_percent(entry.sum, entry.sum_one_percent)
           else
            concat "-"
           end
        %>
        </small>
      </td>

      <% @categories_expense.each do |category| %>
        <td class="expense expense_<%= category.id %> text-right">
          <small>
            <% print_formatted_amount_with_one_percent(entry.get_amount_for_category(category.id), entry.get_amount_one_percent_for_category(category.id)) %>
          </small>
        </td>
      <% end %>

    </tr>
  <% end %>
  </tbody>

  <!%-- row with sums for each category --%>
  <tfoot>
    <tr>
      <td colspan="3"><strong>Suma</strong></td>

      <% @categories_income.each do |category| %>
        <td class="income income_<%= category.id %> text-right" text-right>
          <small>
            <% print_formatted_amount(@journal.get_sum_for_category(category)) %>
          </small>
        </td>
      <% end %>

      <td class="income income_all text-right">
        <small>
          <% print_formatted_amount(@journal.get_income_sum) %>
        </small>
      </td>
      <td class="expense expense_all text-right">
        <small>
          <% print_formatted_amount_with_one_percent(@journal.get_expense_sum, @journal.get_expense_one_percent_sum) %>
        </small>
      </td>

      <% @categories_expense.each do |category| %>
        <td class="expense expense_<%= category.id %> text-right">
          <small>
            <% print_formatted_amount_with_one_percent(@journal.get_sum_for_category(category), @journal.get_sum_one_percent_for_category(category)) %>
          </small>
        </td>
      <% end %>
    </tr>

    <tr>
      <th colspan="3"></th>
      <th colspan="<%= @categories_income.count %>" class="balance-label">Saldo końcowe (w tym 1%):</th>
      <th colspan="2" class="balance" id="initial-balance">
        <%= number_with_precision(@journal.get_final_balance, :precision => 2) %> zł
        (<%= number_with_precision(@journal.get_final_balance_one_percent, :precision => 2) %> zł)
      </th>
      <th colspan="<%= @categories_expense.count %>"></th>
    </tr>
  </tfoot>
</table>
