<p id="notice"><%= notice %></p>

<p>
  <b>Rok:</b>
  <%= @journal.year %>
</p>

<p>
  <b>Rodzaj:</b>
  <%= @journal.journal_type.name %>
</p>


<%= link_to 'Edycja', edit_journal_path(@journal) %> |
<%= link_to 'Powrót', journals_path %>
