<!doctype html>
<html>
<head>
  <meta charset='utf-8'/>

  <%= stylesheet_link_tag "http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" %>

  <style type="text/css">
    div {
      font-size: 10px;
    }

    .category-label {
      -webkit-transform: rotate(270deg);
      -webkit-backface-visibility: hidden;
      height: 70px;
    }

    table {
      page-break-inside: auto;
    }

    tr {
      page-break-inside: avoid;
      page-break-after: auto;
    }

    .hover{
      background-color:#f5f5f5;
    }

    .hover_dim {
      background-color:#ddd;
    }

    .income {
      white-space: nowrap;
    }

    .expense {
      white-space: nowrap;
    }

  </style>
</head>

<div class="row">
  <div class="col-md-12">
    <table class="table table-condensed table-bordered">
      <tr>
        <td class="text-center" style="font-size: small"><b>
          <span class="text-uppercase"><%= @journal.journal_type %> na <%= @journal.year %> rok dla <%= @journal.unit.full_name %>
          </span>
          <br/>
        </b>
        </td>
      </tr>
    </table>
  </div>
</div>

<div>
  <table class="table table-condensed table-bordered top-buffer-20">
    <tr>
      <th colspan="<%= @categories_income.count + 3 %>" class="balance-label" title="<%=@journal.journal_type.name%> dla <%= @journal.unit.name %>, <%=@journal.year%>">
        <span class="pull-left label label-default" style="font-size: 85%;"><%= @journal.opened_from_info %></span>
        <span class="pull-right text-muted" style="white-space: nowrap"><small>Saldo początkowe:</small></span>
      </th>
      <th colspan="<%= @categories_expense.count + 2 %>" class="balance" id="initial-balance">
        <span class="pull-left" style="white-space: nowrap"><small>
          <%= number_with_precision(@journal.initial_balance, :precision => 2) %> zł
        </small></span>
      </th>
    </tr>
    <tr>
      <th colspan="<%= @categories_income.count + 3 %>" class="balance-label" style="border-top: none; border-bottom: none" title="<%=@journal.journal_type.name%> dla <%= @journal.unit.name %>, <%=@journal.year%>">
        <span class="pull-right text-muted" style="white-space: nowrap"><small>w tym 1,5%:</small></span>
      </th>
      <th colspan="<%= @categories_expense.count + 2 %>" class="balance" id="initial-balance" style="border-top: none; border-bottom: none">
        <span class="pull-left" style="white-space: nowrap"><small>
          <%= number_with_precision(@journal.initial_balance_one_percent, :precision => 2) %> zł
        </small></span>
      </th>
    </tr>
    <% @grants_by_journal_year.each do |grant| %>
    <tr>
      <th colspan="<%= @categories_income.count + 3 %>" class="balance-label" style="border-top: none; border-bottom: none">
        <span class="pull-right text-muted" style="white-space: nowrap"><small>w tym <%= grant.name %>:</small></span>
      </th>
      <th colspan="<%= @categories_expense.count + 2 %>" class="balance" id="initial-balance" style="border-top: none; border-bottom: none">
        <span class="pull-left" style="white-space: nowrap"><small>
          <%= number_with_precision(@journal.initial_balance_for_grant(grant), :precision => 2) %> zł
        </small></span>
      </th>
    </tr>
    <% end %>

    <tr class="border-top-bold">
      <th rowspan="2" style="vertical-align: middle">
        <small>#</small>
      </th>
      <th rowspan="2" class="text-center" style="vertical-align: middle">
        <small>Data</small>
      </th>
      <th rowspan="2" class="text-center"style="vertical-align: middle">
        <small>Opis<br/>Numer dokumentu</small>
      </th>
      <th colspan="<%= @categories_income.count %>" class="text-center">
        <small><%= t 'helpers.label.journal.income_detailed' %></small>
      </th>
      <th rowspan="2" class="hover income income_all text-center" style="vertical-align: middle">
        <small><%= t 'helpers.label.journal.income_all' %></small>
      </th>
      <th rowspan="2" class="hover expense expense_all text-center" style="vertical-align: middle">
        <small><%= t 'helpers.label.journal.expense_all' %></small>
      </th>
      <th colspan="<%= @categories_expense.count %>" class="text-center">
        <small><%= t 'helpers.label.journal.expense_detailed' %></small>
      </th>
    </tr>

    <tr>
      <% @categories_income.each do |category| %>
        <th class="income_<%= category.id %> text-center category-label">
          <small>
            <small><br/><br/><%= category.name %></small>
          </small>
        </th>
      <% end %>
      <% @categories_expense.each do |category| %>
        <th class="expense_<%= category.id %> text-center category-label" style="white-space: nowrap">
          <small>
            <small><br/><br/><%= category.name %></small>
          </small>
        </th>
      <% end %>
    </tr>

    <% if @entries.length > 0 %>
      <tbody class="border-top-bold">
      <% position = @start_position %>
      <% @entries.each do |entry| %>
        <tr>
          <td>
            <small>
              <span style="display: block;"><%= position += 1 %>.</span>
            </small>
          </td>
          <td style="white-space: nowrap">
            <small><%= entry.date %></small>
          </td>
          <td>
            <small>
              <span title='<%= I18n.t('helpers.label.journal.name_tooltip') %>'><%= entry.name %></span>
              <hr style='margin: 2px 0;'/>
              <span title='<%= I18n.t('helpers.label.journal.document_number_tooltip') %>'><%= entry.document_number %></span>
            </small>
          </td>

          <% @categories_income.each do |category| %>
            <td class="income income_<%= category.id %> text-right" title="<%= category.name %>">
              <small>
                <% print_formatted_amount(entry.get_amount_for_category(category)) %></small>
            </td>
          <% end %>

          <td class="hover income income_all text-right" title="<%= t 'helpers.label.journal.income_all' %>">
            <small>
              <% if entry.is_expense
                   concat "-"
                 else
                   print_formatted_amount(entry.sum)
                 end
              %>
            </small>
          </td>

          <td class="hover expense expense_all text-right" title="<%= t 'helpers.label.journal.expense_all' %>">
            <small>
              <% if entry.is_expense
                   print_formatted_entry_sum_with_grants(t('helpers.label.journal.expense_all'), entry)
                 else
                   concat "-"
                 end
              %>
            </small>
          </td>

          <% @categories_expense.each do |category| %>
            <td class="expense expense_<%= category.id %> text-right" title="<%= category.name %>">
              <small>
                <% print_formatted_amount_with_grant(category, entry.get_amount_for_category(category), entry.get_amount_one_percent_for_category(category), entry.get_grants_for_category(category), entry) %>
              </small>
            </td>
          <% end %>

        </tr>
      <% end %>
      </tbody>
    <% end %>

    <!%-- row with sums for each category --%>
    <tr>
      <td colspan="3" class="hover"><strong>
        <small>Suma</small>
      </strong></td>

      <% @categories_income.each do |category| %>
        <td class="hover income income_<%= category.id %> text-right" title="<%= category.name %>">
          <small>
            <% print_formatted_amount(@journal.get_sum_for_category(category)) %>
          </small>
        </td>
      <% end %>

      <td class="hover income income_all text-right" title="<%= t 'helpers.label.journal.income_all' %>">
        <small>
          <% print_formatted_amount(@journal.get_income_sum) %>
        </small>
      </td>
      <td class="hover expense expense_all text-right" title="<%= t 'helpers.label.journal.expense_all' %>">
        <small>
          <% print_formatted_journal_sums_with_grants(t('helpers.label.journal.expense_all'), @journal) %>
        </small>
      </td>

      <% @categories_expense.each do |category| %>
        <td class="hover expense expense_<%= category.id %> text-right" title="<%= category.name %>">
          <small>
            <% print_formatted_journal_sums_for_categories_with_grants(category, @journal) %>
          </small>
        </td>
      <% end %>
    </tr>

    <tr>
      <th colspan="<%= @categories_income.count + 3 %>" class="balance-label"><span class="pull-right text-muted" style="white-space: nowrap"><small>Saldo końcowe:</small></span></th>
      <th colspan="<%= @categories_expense.count + 2 %>" class="balance" id="initial-balance">
        <span class="pull-left" style="white-space: nowrap"><small>
          <%= number_with_precision(@journal.get_final_balance, :precision => 2) %> zł
        </small></span>
      </th>
    </tr>
    <tr>
      <th colspan="<%= @categories_income.count + 3 %>" class="balance-label" style="border-top: none; border-bottom: none"><span class="pull-right text-muted" style="white-space: nowrap"><small>w tym 1,5%:</small></span></th>
      <th colspan="<%= @categories_expense.count + 2 %>" class="balance" id="initial-balance" style="border-top: none; border-bottom: none">
        <span class="pull-left" style="white-space: nowrap"><small>
          <%= number_with_precision(@journal.get_final_balance_one_percent, :precision => 2) %> zł
        </small></span>
      </th>
    </tr>

    <% @grants_by_journal_year.each do |grant| %>
    <tr>
      <th colspan="<%= @categories_income.count + 3 %>" class="balance-label" style="border-top: none; border-bottom: none"><span class="pull-right text-muted" style="white-space: nowrap"><small>w tym <%= grant.name %>:</small></span></th>
      <th colspan="<%= @categories_expense.count + 2 %>" class="balance" id="initial-balance" style="border-top: none; border-bottom: none">
        <span class="pull-left" style="white-space: nowrap"><small>
          <%= number_with_precision(@journal.get_final_balance_for_grant(grant), :precision => 2) %> zł
        </small></span>
      </th>
    </tr>
    <% end %>
  </table>
</div>
