<div class="row top-buffer-40">
  <div class="span6">
    <div class='pull-left'>
      <small>
        <% if can? :update, @journal %>
          <%= link_to new_entry_path(:journal_id => @journal.id, :is_expense => false) do%>
            <button class="btn btn-small btn-primary" type="button"><i class="icon-plus"></i>&nbsp;&nbsp;Nowy wpływ</button>
          <% end %>
        <% end %>
        <% if can? :update, @journal %>
          <%= link_to new_entry_path(:journal_id => @journal.id, :is_expense => true) do%>
            <button class="btn btn-small btn-primary" type="button"><i class="icon-minus"></i>&nbsp;&nbsp;Nowy wydatek</button>
          <% end %>
        <% end %>
      </small>
    </div>
  </div>
  <div class="span6">
    <div class="pull-right">
      <%= render "shared/journal_select" %>
    </div>
  </div>
</div>

<table class="table table-condensed top-buffer-20">

  <thead>
    <tr>
      <th colspan="3" title="<%=@journal.journal_type.name%> dla <%= @journal.unit.name %>, <%=@journal.year%>"></th>
      <th colspan="<%= @categories_income.count %>" class="balance-label"><span class="pull-right muted"><small>Saldo początkowe (w tym 1%):</small></span></th>
      <th colspan="2" class="balance" id="initial-balance">
        <small>
          <%= number_with_precision(@journal.initial_balance, :precision => 2) %> zł
          (<%= number_with_precision(@journal.initial_balance_one_percent, :precision => 2) %> zł)
        </small>
      </th>

      <th colspan="<%= @categories_expense.count %>"></th>
    </tr>

    <tr class="border-top-bold">
      <th rowspan="2" class="valign_middle"><small>#</small></th>
      <th rowspan="2" class="valign_middle text-center"><small>Data</small></th>
      <th rowspan="2" class="valign_middle text-center"><small>Treść</small></th>
      <th colspan="<%= @categories_income.count %>" class="text-center"><small>Wpływy szczegółowo</small></th>
      <th rowspan="2" class="income income_all valign_middle text-center"><small>Wpływy razem</small></th>
      <th rowspan="2" class="expense expense_all valign_middle text-center"><small>Wydatki razem</small></th>
      <th colspan="<%= @categories_expense.count %>" class="text-center"><small>Wydatki szczegółowo</small></th>
    </tr>

    <tr>
      <% @categories_income.each do |category| %>
        <th class="income_<%= category.id %>"><small><small><%= category.name %></small></small></th>
      <% end %>
      <% @categories_expense.each do |category| %>
        <th class="expense_<%= category.id %>"><small><small><%= category.name %></small></small></th>
      <% end %>
    </tr>
  </thead>

  <tbody class="border-top-bold">
  <% i = 0 %>
  <% @entries.each do |entry| %>
    <tr>
      <td>
        <small>
          <span style="display: block;"><%= i+=1 =%>.</span>
          <% if can? :update, entry %><%= link_to edit_entry_path(entry) do%><i class="icon-pencil" title="Edytuj"></i><%end%><% end %>
          <% if can? :destroy, entry %><%= link_to entry, confirm: 'Na pewno usunąć wpis?', method: :delete do%><i class="icon-trash" title="Usuń"></i><%end%><% end %>
        </small>
      </td>
      <td><small><%= entry.date %></small></td>
      <td>
        <small>
          <span title='<%= I18n.t('helpers.label.journal.name_tooltip') %>'><%= entry.name %></span>
          <hr style='margin: 2px 0;'/>
          <span title='<%= I18n.t('helpers.label.journal.document_number_tooltip') %>'><%= entry.document_number %></span>
        </small>
      </td>

      <% @categories_income.each do |category| %>
        <td class="income income_<%= category.id %> text-right">
          <small><% print_formatted_amount(entry.get_amount_for_category(category.id)) %></small>
        </td>
      <% end %>

      <td class="income income_all text-right">
        <small>
        <% if entry.is_expense
            concat "-"
           else
            print_formatted_amount(entry.sum)
           end
        %>
        </small>
      </td>

      <td class="expense expense_all text-right">
        <small>
        <% if entry.is_expense
            print_formatted_amount_with_one_percent(entry.sum, entry.sum_one_percent)
           else
            concat "-"
           end
        %>
        </small>
      </td>

      <% @categories_expense.each do |category| %>
        <td class="expense expense_<%= category.id %> text-right">
          <small>
            <% print_formatted_amount_with_one_percent(entry.get_amount_for_category(category.id), entry.get_amount_one_percent_for_category(category.id)) %>
          </small>
        </td>
      <% end %>

    </tr>
  <% end %>
  </tbody>

  <!%-- row with sums for each category --%>
  <tfoot class="border-top-bold">
    <tr>
      <td colspan="3"><strong><small>Suma</small></strong></td>

      <% @categories_income.each do |category| %>
        <td class="income income_<%= category.id %> text-right" text-right>
          <small>
            <% print_formatted_amount(@journal.get_sum_for_category(category)) %>
          </small>
        </td>
      <% end %>

      <td class="income income_all text-right">
        <small>
          <% print_formatted_amount(@journal.get_income_sum) %>
        </small>
      </td>
      <td class="expense expense_all text-right">
        <small>
          <% print_formatted_amount_with_one_percent(@journal.get_expense_sum, @journal.get_expense_one_percent_sum) %>
        </small>
      </td>

      <% @categories_expense.each do |category| %>
        <td class="expense expense_<%= category.id %> text-right">
          <small>
            <% print_formatted_amount_with_one_percent(@journal.get_sum_for_category(category), @journal.get_sum_one_percent_for_category(category)) %>
          </small>
        </td>
      <% end %>
    </tr>

    <tr>
      <th colspan="3"></th>
      <th colspan="<%= @categories_income.count %>" class="balance-label"><span class="pull-right muted"><small>Saldo końcowe (w tym 1%):</small></span></th>
      <th colspan="2" class="balance" id="initial-balance">
        <small>
          <%= number_with_precision(@journal.get_final_balance, :precision => 2) %> zł
          (<%= number_with_precision(@journal.get_final_balance_one_percent, :precision => 2) %> zł)
        </small>
      </th>
      <th colspan="<%= @categories_expense.count %>"></th>
    </tr>
  </tfoot>
</table>
