<h1><%=@journal.journal_type.name%>, <%=@journal.year%></h1>

<table>
  <thead>
  
    <tr>
      <th colspan="3"></th>
      <th colspan="<%= @categories_income.count %>" class="balance-label">Saldo początkowe:</th>
      <th colspan="2" class="balance" id="initial-balance"><%= @journal.initial_balance %></th>
      <th colspan="<%= @categories_expense.count + 3 %>"></th>
    </tr>

    <tr>
      <th rowspan="2">Lp.</th>
      <th rowspan="2">Data</th>
      <th rowspan="2">Treść</th>
      <th colspan="<%= @categories_income.count %>">Wpływy szczegółowo</th>
      <th rowspan="2">Wpływy razem</th>
      <th rowspan="2">Wydatki razem</th>
      <th colspan="<%= @categories_expense.count %>">Wydatki szczegółowo</th>
      <th rowspan="3" colspan="3">Akcja</th>
    </tr>

    <tr>
      <% @categories_income.each do |category| %>
        <th><%= category.name %></th>
      <% end %>
      <% @categories_expense.each do |category| %>
        <th><%= category.name %></th>
      <% end %>
    </tr>
  </thead>


<% i = 0 %>
<% @entries.each do |entry| %>
  <tr class="node <%= cycle("even", "odd") -%>">
    <td><%= i+=1 =%>.</td>
    <td><%= entry.date %></td>
    <td><%= entry.name %><br/><%= entry.document_number %></td>

    <% @categories_income.each do |category| %>
      <td><%= entry.get_amount_for_category(category.id) %></td>
    <% end %>

    <td><%= entry.is_expense ? 0 : entry.sum %></td>

    <td><%= entry.is_expense ? entry.sum : 0 %></td>

    <% @categories_expense.each do |category| %>
      <td><%= entry.get_amount_for_category(category.id) %></td>
    <% end %>

    <td><%= link_to 'Pokaż', entry %></td>
    <td><%= link_to 'Edytuj', edit_entry_path(entry) %></td>
    <td><%= link_to 'Usuń', entry, confirm: 'Na pewno usunąć wpis?', method: :delete %></td>
  </tr>
<% end %>

<!%-- row with sums for each category --%>
<tr>
  <td colspan="3">Suma</td>
  <% @categories_income.each do |category| %>
  <td><%= @journal.get_sum_for_category(category) %></td>
  <% end %>
  <td><%= @journal.get_income_sum %></td>
  <td><%= @journal.get_expense_sum %></td>
  <% @categories_expense.each do |category| %>
  <td><%= @journal.get_sum_for_category(category) %></td>
  <% end %>
  <td colspan="3"></td>
</tr>
</table>

<br />

<%= link_to 'Nowy wydatek', new_entry_path(:journal_id => @journal.id, :is_expense => true) %>
<%= link_to 'Nowy wpływ', new_entry_path(:journal_id => @journal.id, :is_expense => false) %>
