<%= form_with(model: grant, local: true) do |form| %>
  <% if grant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(grant.errors.count, "error") %> błędy podczas próby zapisu zmian dla dotacji:</h2>

      <ul>
      <% grant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <div class="well">
        <div class="row">
          <div class="col-md-6">
            <%= form.label :nazwa %>
            <%= form.text_field :name, class: "form-control" %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="row top-buffer-20">
        <div class="col-md-6">
          <%= form.label :opis %>
          <%= form.text_area :description, class: "form-control" %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="row top-buffer-20">
      <%= form.submit "Zapisz", class: "btn btn-success" %>
    </div>
  </div>
<% end %>