<h1>Dotacje</h1>

<table>
  <thead>
    <tr>
      <th>Nazwa</th>
      <th>Opis</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grants.each do |grant| %>
      <tr>
        <td><%= grant.name %></td>
        <td><%= grant.description %></td>
        <td><%= link_to 'Pokaż', grant %></td>
        <td><%= link_to 'Edytuj', edit_grant_path(grant) %></td>
        <td><%= link_to 'Usuń', grant, method: :delete, data: { confirm: 'Czy na pewno usunąć?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nowa dotacja', new_grant_path %>
