<p id="notice"><%= notice %></p>

<h1>Grants</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grants.each do |grant| %>
      <tr>
        <td><%= grant.name %></td>
        <td><%= grant.description %></td>
        <td><%= link_to 'Show', grant %></td>
        <td><%= link_to 'Edit', edit_grant_path(grant) %></td>
        <td><%= link_to 'Destroy', grant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Grant', new_grant_path %>
