<script type="text/javascript">
  function reloadForYear(year) {
    document.location.href = "<%= units_path %>?year=" + year;
  }
</script>

<div class="row">
  <div class="span10">
    <h3>Administracja &gt; Jednostki</h3>
  </div>
  <div class="span2">
    <div class="pull-right top-buffer-20">
    <%= link_to 'Nowa jednostka', new_unit_path, class: "btn btn-small btn-primary" %>
    </div>
  </div>
</div>

<table class="table table-condensed top-buffer-20">
  <tr>
    <th rowspan="3">Kod</th>
    <th class="name-cell" rowspan="3">Nazwa</th>
    <th colspan="4">Saldo początkowe
      <select class="span1 no-margin" onchange="reloadForYear(this.value)">
          <% @years.each do |year| %>
              <option value="<%= year %>" <%= year.to_s == @selected_year.to_s ? 'selected=selected' : '' %>><%= year %></option>
          <% end %>
      </select>
    </th>
  </tr>
    <tr>
      <th colspan="2">finansowe</th>
      <th colspan="2">bankowe</th>
    </tr>
    <tr>
        <th>&nbsp;</th>
        <th class="text-right">1%</th>
        <th>&nbsp;</th>
        <th class="text-right">1%</th>
    </tr>

<% @units.each do |unit| %>
  <tr>
    <td><div class="text-center"><%= link_to unit.code || "", unit %></div></td>
    <td><div class="text-center"><%= link_to unit.name, unit %></div></td>
    <td class="amount-cell"><%= unit.initial_finance_balance(@selected_year) || '-' %></td>
    <td class="amount-cell"><%= unit.initial_finance_balance_one_percent(@selected_year) || '-' %></td>
    <td class="amount-cell"><%= unit.initial_bank_balance(@selected_year) || '-' %></td>
    <td class="amount-cell"><%= unit.initial_bank_balance_one_percent(@selected_year) || '-' %></td>
  </tr>
<% end %>
</table>

<br />

