<h1>Kategorie</h1>

<form method="GET">
  <%= select_tag "year", options_for_select(@years, @year) %>
  <% isExpense = I18n.t('category.isExpense') %>
  <% isIncome = I18n.t('category.isIncome') %>
  <%= select_tag "isExpense", options_for_select([[isExpense, true], [isIncome, false]], @isExpense) %>
  <%= submit_tag I18n.t('search') %>
</form>

<% if @year and @isExpense %>
<table>
  <tr>
    <th>Nazwa</th>
    <th>Wydatek?</th>
    <th>Rok</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% filtered_categories = Category.find_by_year_and_type(@year, @isExpense == "true") %>
<% filtered_categories.each do |category| %>
  <tr>
    <td><%= category.name %></td>
    <td><%= category.isExpense %></td>
    <td><%= category.year %></td>
    <td><%= link_to 'Pokaż', category %></td>
    <td><%= link_to 'Edytuj', edit_category_path(category) %></td>
    <td><%= link_to 'Usuń', category, confirm: 'Na pewno usunąć kategorię?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nowa kategoria', new_category_path %>

<% end %>
