<h1>Kategorie</h1>

<table>
  <tr>
    <th>Nazwa</th>
    <th>Wydatek?</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.name %></td>
    <td><%= category.isExpense %></td>
    <td><%= link_to 'Pokaż', category %></td>
    <td><%= link_to 'Edytuj', edit_category_path(category) %></td>
    <td><%= link_to 'Usuń', category, confirm: 'Na pewno usunąć kategorię?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nowa kategoria', new_category_path %>
