<h1>Kategorie</h1>

<form method="GET">
  <%= select_tag "year", options_for_select(@years, @year) %>
  <%= submit_tag I18n.t('search') %>
</form>

<br/>

<% expenses = {:label => I18n.t(:expenses), :data => Category.find_by_year_and_type(@year, true)} %>
<% incomes = {:label => I18n.t(:incomes), :data => Category.find_by_year_and_type(@year, false)} %>

<% [incomes, expenses].each do |categories| %>
<div>
  <%= categories[:label] %>
  <ul class="categories unstyled">
  <% categories[:data].each do |category| %>
    <li id="category_<%= category.id %>">
      <span class="handle"><i class="icon-align-justify" title="Chwyć i przenieś"></i></span>
        <% if category.is_one_percent %><small>[1%]</small><% end %>
        <%= category.name %>
        <%= link_to edit_category_path(category) do %><i class="icon-pencil"></i><% end %>
    </li>
  <% end %>
  </ul>
</div>
<% end %>

<br />

<%= link_to 'Nowa kategoria', new_category_path %>
