<p id="notice"><%= notice %></p>

<p>
  <b>Nazwa:</b>
  <%= @category.name %>
</p>

<p>
  <b>Rok:</b>
  <%= @category.year %>
</p>

<p>
  <b>Wydatek?</b>
  <%= @category.is_expense %>
</p>

<p>
  <b>1 procent?</b>
  <%= @category.is_one_percent %>
</p>


<%= link_to 'Edytuj', edit_category_path(@category) %> |
<%= link_to 'Wstecz', categories_path %>
