<div class="row top-buffer-20">
  <div class="col-md-6">
    <table class="table table-condensed table-striped table-bordered">
      <thead>
        <tr>
          <th class="text-center">Wpływy</th>
          <th class="text-center">ks. finansowa</th>
          <th class="text-center">ks. bankowa</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Saldo początkowe z dnia <%= @report_start_date %></td>
          <td class="text-right"><%= number_with_precision(@finance_hash[@initial_balance_key], :precision => 2) %></td>
          <td class="text-right"><%= number_with_precision(@bank_hash[@initial_balance_key], :precision => 2) %></td>
        </tr>
        <% @categories.where(:is_expense => false).each do |category| %>
            <tr>
              <td><%= category.name %></td>
              <td class="text-right"><%= number_with_precision(@finance_hash[category.id], :precision => 2) %></td>
              <td class="text-right"><%= number_with_precision(@bank_hash[category.id], :precision => 2) %></td>
            </tr>
        <% end %>
      </tbody>
      <tfoot class="border-top-bold" style="font-weight: bold">
        <tr>
          <td>Razem wpływy</td>
          <td class="text-right"><%= number_with_precision(@finance_hash[@total_balance_income_key], :precision => 2) %></td>
          <td class="text-right"><%= number_with_precision(@bank_hash[@total_balance_income_key], :precision => 2) %></td>
        </tr>
      </tfoot>
    </table>
  </div>

  <div class="col-md-6">
    <table class="table table-condensed table-striped table-bordered">
      <thead>
      <tr>
        <th class="text-center">Wydatki</th>
        <th class="text-center">ks. finansowa</th>
        <th class="text-center">ks. bankowa</th>
      </tr>
      </thead>
      <tbody>
        <% @categories.where(:is_expense => true).each do |category| %>
            <tr>
              <td><%= category.name %></td>
              <td class="text-right"><%= number_with_precision(@finance_hash[category.id], :precision => 2) %></td>
              <td class="text-right"><%= number_with_precision(@bank_hash[category.id], :precision => 2) %></td>
            </tr>
        <% end %>
      </tbody>
      <tfoot class="border-top-bold" style="font-weight: bold">
      <tr>
        <td>Razem wydatki</td>
        <td class="text-right"><%= number_with_precision(@finance_hash[@total_balance_expense_key], :precision => 2) %></td>
        <td class="text-right"><%= number_with_precision(@bank_hash[@total_balance_expense_key], :precision => 2) %></td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>

<div class="row top-buffer-20">
  <div class="col-md-8 col-md-offset-2">
    <table class="table table-condensed table-striped table-bordered">
      <thead>
        <tr>
          <th></th>
          <th class="text-center">Wpływy</th>
          <th class="text-center">Wydatki</th>
          <th class="text-center">Saldo na dzień <%= @report_end_date %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>ks. finansowa</td>
          <td class="text-center"><%= number_with_precision(@finance_hash[@total_balance_income_key], :precision => 2) %></td>
          <td class="text-center"><%= number_with_precision(@finance_hash[@total_balance_expense_key], :precision => 2) %></td>
          <td class="text-center"><%= number_with_precision(@total_hash[:finance_sum], :precision => 2) %></td>
        </tr>
        <tr>
          <td>ks. bankowa</td>
          <td class="text-center"><%= number_with_precision(@bank_hash[@total_balance_income_key], :precision => 2) %></td>
          <td class="text-center"><%= number_with_precision(@bank_hash[@total_balance_expense_key], :precision => 2) %></td>
          <td class="text-center"><%= number_with_precision(@total_hash[:bank_sum], :precision => 2) %></td>
        </tr>
      </tbody>
      <tfoot class="border-top-bold" style="font-weight: bold">
        <tr>
          <td>Razem</td>
          <td class="text-center"><%= number_with_precision(@total_hash[:income], :precision => 2) %></td>
          <td class="text-center"><%= number_with_precision(@total_hash[:expense], :precision => 2) %></td>
          <td class="text-center"><%= number_with_precision(@total_hash[:sum], :precision => 2) %></td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
<% if @display_pdf_link %>
    <div><%= link_to 'Pobierz raport jako pdf', finance_report_path(:format => :pdf), class: 'btn btn=sm btn-success' %>
    </div>
<% end %>
