<!doctype html>
<html>
<head>
  <meta charset='utf-8'/>
  <%= stylesheet_link_tag "http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" %>
  <style type="text/css">
    div {
      font-size: smaller
    }
  </style>
</head>

<div class="row">
  <div class="col-md-12">
    <table class="table table-condensed table-bordered">
      <tr>
        <td class="text-center" style="font-size: small"><b>
          <span class="text-uppercase">Całościowe sprawozdanie finansowe za okres od <%= @report_start_date %>
            do <%= @report_end_date %></span>
          <br/>
        </b>
        </td>
      </tr>
    </table>
  </div>
</div>

<%= render 'reports/finance_template.html.erb' %>

<div class="row">
  <div class="col-md-12">
    <table class="table table-condensed table-bordered">
      <tr>
        <td>Nr konta / nr książeczki oszczędnościowej
          <hr/>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-condensed table-bordered">
      <tr>
        <td class="text-center">
          Oświadczam, że w złożonym sprawozdaniu finansowym zostały ujęte (zgodnie z posiadanymi przez jednostkę dowodami księgowymi) wszystkie przychody i rozchody związane z działalnością statutową wymienionej powyżej jednostki organizacyjnej. Potwierdzam posiadanie kwoty salda na dzień <%= @report_end_date %>
          <hr/>
          <i>(data, imię, nazwisko i podpis komendanta (opiekuna) jednostki składającej sprawozdanie)</i>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    Sporządził: <%= current_user.first_name %> <%= current_user.last_name %>
    <br/>
    <%= @generation_time.strftime ('%Y-%m-%d %H:%M:%S') %>
  </div>
</div>
