<script type="text/javascript">
    function reloadForYear(year) {
        document.location.href = "<%= @report_link %>?year=" + year;
    }
</script>

<div class="row">
  <div class="col-md-10">
    <h3><%= @report_header %></h3>
  </div>
  <div class="col-md-2">
    <div class="pull-right top-buffer-20">
      Rok: <select class="no-margin" onchange="reloadForYear(this.value)">
      <% @years.each do |year| %>
          <option value="<%= year %>" <%= year.to_s == @selected_year.to_s ? 'selected=selected' : '' %>><%= year %></option>
      <% end %>
    </select>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-2 col-md-offset-10">
    <div class="pull-right top-buffer-20">
      <%= link_to '<span class="glyphicon glyphicon-print"></span>&nbsp;&nbsp;Drukuj'.html_safe, @pdf_report_link, class: 'btn btn-sm btn-success' %>
    </div>
  </div>
</div>

<%= render 'finance_template' %>

<div class="row top-buffer-20">
  <% if not @open_current_journals.empty? %>
    <div class="col-md-6">
      <h4>Otwarte książki z roku <%= @selected_year %></h4>
      <% @open_current_journals.each do |journal| %>
        <%= link_to "#{journal.journal_type} - #{journal.unit.full_name}", journal %><br/>
      <% end %>
    </div>
  <% end %>
  <% if not @open_old_journals.empty? %>
    <div class="col-md-6">
      <h4>Otwarte książki starsze niż <%= @selected_year %></h4>
      <% @open_old_journals.each do |journal| %>
        <%= link_to "#{journal.year} - #{journal.journal_type} - #{journal.unit.full_name}", journal %><br/>
      <% end %>
    </div>
  <% end %>
</div>