<script type="text/javascript">
    function reloadForYear(year) {
        document.location.href = "<%= @report_link %>?year=" + year;
    }
</script>

<div class="row">
  <div class="col-md-10">
    <h3><%= @report_header %></h3>
  </div>
  <div class="col-md-2">
    <div class="pull-right top-buffer-20">
      Rok: <select class="no-margin" onchange="reloadForYear(this.value)">
      <% @years.each do |year| %>
          <option value="<%= year %>" <%= year.to_s == @selected_year.to_s ? 'selected=selected' : '' %>><%= year %></option>
      <% end %>
    </select>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-6">
    <div class="pull-right top-buffer-20">
      <%= link_to '<span class="glyphicon glyphicon-print"></span>&nbsp;&nbsp;Drukuj'.html_safe, @pdf_report_link, class: 'btn btn-sm btn-primary' %>
      <%= link_to '<span class="glyphicon glyphicon-print"></span>&nbsp;&nbsp;Eksport do CSV'.html_safe, @csv_report_link, class: 'btn btn-sm btn-primary' %>
    </div>
  </div>
</div>

<%= render 'finance_template' %>

<div class="row top-buffer-20">
  <% if not @open_current_journals.empty? %>
    <div class="col-md-6">
      <div class="well">
        <h4>Otwarte książki z roku <%= @selected_year %></h4>
        <% @open_current_journals.each do |journal| %>
          <%= link_to "#{journal.journal_type} - #{journal.unit.full_name}", journal %><br/>
        <% end %>
        <td><%= link_to 'Zamknij wszystkie', close_current_url, data: { confirm: 'Czy na pewno chcesz zamknąć wszystkie książki z aktualnego roku? '}, class: 'btn btn-sm btn-danger top-buffer-20' %></td>
      </div>
    </div>
  <% end %>
  <% if not @open_old_journals.empty? %>
    <div class="col-md-6">
      <div class="well">
        <h4>Otwarte książki starsze niż <%= @selected_year %></h4>
        <% @open_old_journals.each do |journal| %>
          <%= link_to "#{journal.year} - #{journal.journal_type} - #{journal.unit.full_name}", journal %><br/>
        <% end %>
        <td><%= link_to 'Zamknij wszystkie', close_old_url, data: { confirm: 'Czy na pewno chcesz zamknąć wszystkie książki z poprzednich lat? '}, class: 'btn btn-sm btn-danger top-buffer-20' %></td>
      </div>
    </div>
  <% end %>
</div>