<!doctype html>
<html>
<head>
  <meta charset='utf-8'/>
  <%= stylesheet_link_tag "http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" %>
  <style type="text/css">
    div {
      font-size: smaller
    }
  </style>
</head>

<div class="row">
  <div class="col-md-12">
    <table class="table table-condensed table-bordered">
      <tr>
        <td class="text-center" style="font-size: small"><b>
          <span class="text-uppercase">
        Sprawozdanie finansowe ze środków z tytułu <%= @report_short_name %> za okres
            od <%= @report_start_date %> do <%= @report_end_date %></span>
          <br/>
          <span class="text-uppercase">dla</span>
          <br/>
          <%= @selected_unit_name %>
        </b>
        </td>
      </tr>
    </table>
  </div>
</div>

<%= render 'reports/finance_template.html.erb' %>

<div class="row">
  <div class="col-md-12">
    <table class="table table-condensed table-bordered">
      <tr>
        <td class="text-center">
          Oświadczam, że w sprawozdaniu zostały ujęte wszystkie wpływy środków z tytułu <%= @report_long_name %> i wydatki tych środków,
          dokonane w okresie sprawozdawczym, zgodnie z posiadanymi przez jednostkę dowodami źródłowymi
          <hr/>
          <i>(data, imię, nazwisko i podpis komendanta (opiekuna) jednostki składającej sprawozdanie)</i>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-12" style="margin-top: 80px">
    Sporządził: <%= current_user.first_name %> <%= current_user.last_name %>
    <br/>
    <%= @generation_time.strftime ('%Y-%m-%d %H:%M:%S') %>
  </div>
</div>
