<script type="text/javascript">
    function reloadForYear(year) {
        document.location.href = "<%= @report_link %>?year=" + year;
    }
</script>

<div class="row">
  <div class="col-md-10">
    <h3><%= @report_header %></h3>
  </div>
  <div class="col-md-2">
    <div class="pull-right top-buffer-20">
      Rok: <select class="no-margin" onchange="reloadForYear(this.value)">
        <% @years.each do |year| %>
            <option value="<%= year %>" <%= year.to_s == @selected_year.to_s ? 'selected=selected' : '' %>><%= year %></option>
        <% end %>
      </select>
    </div>
  </div>
</div>

<div class="row top-buffer-20">
  <div class="col-md-6">
    <table class="table table-condensed table-striped table-bordered">
      <thead>
        <tr>
          <th>Wpływy</th>
          <th>Suma finanse</th>
          <th>Suma bank</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Saldo początkowe</td>
          <td><%= @finance_hash[@initial_balance_key] %></td>
          <td><%= @bank_hash[@initial_balance_key] %></td>
        </tr>
        <% @categories.where(:is_expense => false).each do |category| %>
            <tr>
              <td><%= category.name %></td>
              <td><%= @finance_hash[category.id] %></td>
              <td><%= @bank_hash[category.id] %></td>
            </tr>
        <% end %>
      </tbody>
      <tfoot class="border-top-bold" style="font-weight: bold">
        <tr>
          <td>Razem wpływy</td>
          <td><%= @finance_hash[@total_balance_income_key] %></td>
          <td><%= @bank_hash[@total_balance_income_key] %></td>
        </tr>
      </tfoot>
    </table>
  </div>

  <div class="col-md-6">
    <table class="table table-condensed table-striped table-bordered">
      <thead>
      <tr>
        <th>Wydatki</th>
        <th>Suma finanse</th>
        <th>Suma bank</th>
      </tr>
      </thead>
      <tbody>
        <% @categories.where(:is_expense => true).each do |category| %>
            <tr>
              <td><%= category.name %></td>
              <td><%= @finance_hash[category.id] %></td>
              <td><%= @bank_hash[category.id] %></td>
            </tr>
        <% end %>
      </tbody>
      <tfoot class="border-top-bold" style="font-weight: bold">
      <tr>
        <td>Razem wydatki</td>
        <td><%= @finance_hash[@total_balance_expense_key] %></td>
        <td><%= @bank_hash[@total_balance_expense_key] %></td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>

<div class="row top-buffer-20">
  <div class="col-md-12">
    <table class="table table-condensed table-striped table-bordered">
      <thead>
        <tr>
          <th></th>
          <th>Wpływy</th>
          <th>Wydatki</th>
          <th>Saldo</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Książki finansowe</td>
          <td><%= @finance_hash[@total_balance_income_key] %></td>
          <td><%= @finance_hash[@total_balance_expense_key] %></td>
          <td><%= @total_hash[:finance_sum] %></td>
        </tr>
        <tr>
          <td>Książki bankowe</td>
          <td><%= @bank_hash[@total_balance_income_key] %></td>
          <td><%= @bank_hash[@total_balance_expense_key] %></td>
          <td><%= @total_hash[:bank_sum] %></td>
        </tr>
      </tbody>
      <tfoot class="border-top-bold" style="font-weight: bold">
        <tr>
          <td>Razem</td>
          <td><%= @total_hash[:income] %></td>
          <td><%= @total_hash[:expense] %></td>
          <td><%= @total_hash[:sum] %></td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>