<div class="navbar" id="navbar">
  <div class="navbar-inner">
    <ul class="nav">
      <li class=""><%= link_to root_path do %> <i class='icon-home'></i> ZiHeR <% end %></li>

      <% if user_signed_in? %>
        <li class="<%= menu_active?(:journal_finance) %>"><%= link_to "Książka finansowa", default_finance_journal_path %></li>
        <li class="<%= menu_active?(:journal_bank) %>"><%= link_to "Książka bankowa", default_bank_journal_path %></li>

        <li class="<%= menu_active?(:inventory) %>"> <%= link_to "Książka inwentarzowa", inventory_entries_path %> </li>

        <% if current_user.is_superadmin %>
          <li class="dropdown <%= menu_active?(:reports_dropdown) %>">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Raporty <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li class="<%= menu_active?(:reports) %>"> <%= link_to "Spis z natury", fixed_assets_report_path %> </li>
            </ul>
          </li>
        <% end %>

        <% if current_user.is_superadmin || current_user.can_manage_any_user || current_user.can_manage_any_unit || current_user.can_manage_any_group %>
        <li class="dropdown <%= menu_active?(:administration_dropdown) %>">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Administracja <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <% if current_user.can_manage_any_user %><li class="<%= menu_active?(:users) %>"> <%= link_to "Użytkownicy", users_path %> </li><% end %>
            <% if current_user.can_manage_any_unit %><li class="<%= menu_active?(:units) %>"> <%= link_to "Drużyny", units_path %> </li><% end %>
            <% if current_user.can_manage_any_group %><li class="<%= menu_active?(:groups) %>"> <%= link_to "Grupy", groups_path %> </li><% end %>
            <% if can? :manage, Category or can? :manage, InventorySource %>
                <li class="divider"></li>
                <% if can? :manage, Category %><li class="<%= menu_active?(:categories) %>"> <%= link_to "Plan kont", categories_path %> </li><% end %>
                <% if can? :manage, InventorySource %><li class="<%= menu_active?(:inventory_sources) %>"> <%= link_to "Źródła inwentarza", inventory_sources_path %> </li><% end %>
            <% end %>
            <% if current_user.is_superadmin %><li class="<%= menu_active?(:audits) %>"> <%= link_to "Audit log", audits_index_path %> </li><% end %>
          </ul>
        </li>
        <% end %>
      <% end %>
    </ul>

    <% if user_signed_in? %>
      <ul class="nav pull-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= current_user.email %> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to edit_user_registration_path do %><i class='icon-wrench'></i>&nbsp;&nbsp;&nbsp;Ustawienia konta<%end%></li>
            <li><%= link_to destroy_user_session_path, :method => :delete do %><i class='icon-off'></i>&nbsp;&nbsp;&nbsp;Wyloguj się <%end%></li>
          </ul>
        </li>
      </ul>
    <% end %>

  </div>
</div>
