<!DOCTYPE html>
<html>
<head>
  <title>Ziher</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

| <%= link_to "ZiHeR 2.0", root_path %>
| <%= link_to "Książka finansowa", entries_path %>
| <%= link_to "Ksiażka inwentarzowa", inventory_entries_path %>
| <%= link_to "Drużyny", units_path %>
| <%= link_to "Grupy", groups_path %>
| <%= link_to "Kategorie", categories_path %>
| <%= link_to "Książki", journals_path %> 
| <%= link_to "Rodzaje książek", journal_types_path %>
<% if can? :read, User %>
| <%= link_to "Użytkownicy", users_path %>
<% end %>
<% if user_signed_in? %>
| <%= current_user.email %> <%= link_to "Wyloguj się", destroy_user_session_path, :method => :delete %>
<% end %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
