<!DOCTYPE html>
<html>
<head>
  <title>Ziher</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">

<%= render "layouts/menu" %>

<%= render "layouts/messages" %>

<%= yield %>

</div>
</body>
</html>
