<!DOCTYPE html>
<html>
<head>
  <title>ZiHeR / <%= ENV["ZIHER_APP_NAME"] %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container" style="width: 1400px;">

<%= render "layouts/menu" %>

<%= render "layouts/messages" %>

<%= yield %>

<%= render "layouts/footer" %>
</div>
</body>
</html>
